<div class="footer">
    <h4 class="lets-talk">Sure, let's talk.</h4>

    <div class="contact-table">

        <img src="/images/roundels/lets-talk.svg" class="footer-roundel"></img>

        <ul>
            <li> <a>email me</a> </li>
            <li> <a>instagram me</a> </li>
            <li> <a>link with me</a> </li>
        </ul>

    </div>

    <div class="designed-by">
        <p>website designed and coded by me</p>
    </div>
</div>