<div class = "footer">
    <h4>Sure, let's talk.</h4>



    <ul> 
        <li> <a>email me</a> </li>
        <li> <a>instagram me</a> </li>
        <li> <a>link with me</a> </li>
    </ul>
    <div class = "designed-by"><p>website designed and coded by me.</p></div>
</div>