<div class="footer">
    <h4 class="lets-talk">Sure, let's talk.</h4>

    <div class="contact-table">

        <ul>
            <li class="mail"> <a href="mailto:ella.me.marke@gmail.com">email me</a> </li>
            <li class="instagram"> <a href="https://www.instagram.com/ellamarkedesign/">instagram me</a> </li>
            <li class="linkedin"> <a href="https://github.com/ellamarke">visit my github</a> </li>
        </ul>

    </div>

    <div class="designed-by">
        <p>website designed and coded by me</p>
    </div>
</div>