<div class="footer">
    <h4 class="lets-talk">Sure, let's talk.</h4>

    <div class="contact-table">
<!-- <img src="/images/roundels/lets-talk.svg" class="footer-roundel"></img> -->

        <ul>
            <li class="mail"> <a href="mailto:ella.me.marke@gmail.com">email me</a> </li>
            <li class="instagram"> <a href="https://www.instagram.com/ellamarkedesign/">instagram me</a> </li>
            <li class="linkedin"> <a href="https://www.linkedin.com/in/ellamarke/">link with me</a> </li>
        </ul>

    </div>

    <div class="designed-by">
        <p>website designed and coded by me</p>
    </div>
</div>