<div class="ticker-parent">
    <div class="ticker-tape">
        <div class="ticker-list">
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
            <span>I'm Ella Marke /</span>
        </div>
    </div>
</div>