<p class = "ticker-tape">I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / I'm Ella Marke / </p>

<ul class = "navigation">
    <li class = "menu-home"><a href = "/">home</a></li>
    <li class = "menu-work"><a href = "/work">work</a></li>
     <li class = "menu-about"><a href = "/about">about</a></li>
    <li class = "menu-contact"><a href = "/contact">contact</a></li>
 

</ul>