<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
  </head>
  <body>
    <div>{{> header}}</div>
    <div>{{{body}}}</div>
    <div>{{> footer}}</div>
  </body>
</html>
