<!DOCTYPE html>
<html>

<head>
  <title>Ella Marke | Designer &amp; Copywriter</title>
  <link rel='stylesheet' href='/stylesheets/main.css?v=3' />
  <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/javascripts/jquery.images-rotation.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <div>{{> header}}</div>
  <div class="content-menu">
    <div>{{> menu}}</div>
    <div class="content">{{{body}}}</div>
  </div>
  <div>{{> footer}}</div>
</body>


<script>
  function iOS() {
    return [
      'iPad Simulator',
      'iPhone Simulator',
      'iPod Simulator',
      'iPad',
      'iPhone',
      'iPod'
    ].includes(navigator.platform)
    // iPad on iOS 13 detection
    || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
  }
  $(function () {
    if (!iOS()) {
      $('.images-rotation').imagesRotation({interval: 700, intervalFirst: 200})
      $('.images-rotation').mouseleave(function() {
        var images = JSON.parse($(this ).attr("data-images"))
        if (images && images[0]) {
          $( "img", this ).attr("src", images[0])
        }
      })
      $('.images-rotation img').click(function() {
        $('.images-rotation').imagesRotationRemove()
      })
    }
  });
</script>

</html>