<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
</head>

<body>
  <div>{{> header}}</div>
  <div class="content-menu">
    <div>{{> menu}}</div>
    <div class="content">{{{body}}}</div>
  </div>
  <div>{{> footer}}</div>
</body>

</html>