<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/javascripts/jquery.images-rotation.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <div>{{> header}}</div>
  <div class="content-menu">
    <div>{{> menu}}</div>
    <div class="content">{{{body}}}</div>
  </div>
  <div>{{> footer}}</div>
</body>


<script>
  $(function () {
    $('.images-rotation').imagesRotation();
  });
</script>

</html>