<div class="page-intro">
    <h1 class="title title-more-leading">1984.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">big brother is ungood!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Theatre Group Leeds</td>
                <td>Branding / Poster Design</td>
                <td>Theatre / Technology / Politics</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <table class="row-1 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">2+2=5</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">A theatre company in Leeds approached me with their concept for a modernised
                        imagining of Orwell's 1984, inspired by the contemporary omnipresence of technology. I decided
                        to play on their use of technology in the production by using the familiar blue crash screen to
                        recreate and re-position the ominous and familiar words of Big Brother.

                        This ended up being an unused concept — the company decided they just wanted an illustration of
                        a CCTV camera instead. Alas.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-2 centre-img">
            <div class="picture-frame">
                <img src="/images/1984-texture-1.jpg"
                    alt="a poster of a blue screen with the repeated text of big brother is good"></img>
            </div>
        </div>

        <div class="row-3 centre-img">
            <div class="picture-frame">
                <img src="/images/1984-texture-2.jpg"
                    alt="a poster of a blue screen which says war is peace, freedom is slavery, ignorance is strength"></img>
            </div>
        </div>

        <div class="row-4 centre-img">
            <div class="picture-frame">
                <img src="/images/1984-texture-3.jpg"
                    alt="a poster of a blue screen which says 2+2=5 repeatedly and then 2+2=4"></img>
            </div>
        </div>


        {{!-- THANKS AND BACK --}}
        <div class="row-5 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>