<div class="page-intro">
    <h1 class="title">Abeo!</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">get your scotch bonnet peppers at the ready!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Independent University Project</td>
                <td>Branding / Website Design / Print Design</td>
                <td>West Africa / Food / Culture</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/paradise-rice-packaging.jpg"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="row-2 caption double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">plantain for everybody!</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">West African cooking can feel inaccessible to British home-cooks: ingredients
                            can be hard to access, recipes and techniques can feel unfamiliar and there is limited
                            in-depth information in English online.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">plantain for everybody!</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">This project was one strand of a wider project examining how West African food
                            could be successfully introduced into mainstream British taste. View the two sister projects
                            <a href="food-of-paradise">here</a> and <a href="abeo">here</a>.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="row-3 quote">How can we cross these cultural bridges?</h5>

        <div class="row-4 large-left-img roundel-img">

            <div class="img">
                <div class="picture-frame">
                    <img src="/images/roundels/plantain.svg" class="roundel"></img>
                    <img src="/images/paradise-plantain-chips.jpg"></img>
                </div>
                <figcaption>The bold, repeated patterns are inspired by the Dutch ink style of printing found in pagne
                    prints.
                </figcaption>
            </div>

        </div>

        <div class="row-4 small-right-img top-margin-large">
            <div class="picture-frame">
                <img src="/images/paradise-spice-mix.jpg"></img>
            </div>
            <figcaption>Packaging for a spice mix inspired by a Senegalese dish called Poulet au Yassa.
            </figcaption>
        </div>


        <table class="row-5 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">opening up the world of west african food</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Abeo! seeks to fill this gap by creating an online platform to explore West African
                        food culture, with content relevant both to complete newcomers to West African cooking and those
                        who have been cooking and eating it their entire lives.
                        Users can dive into all aspects of culinary culture: ingredients, recipes and principles of
                        cooking. All elements of the website focus on creating a culture of accessibility. Users, for
                        example, can discover in-depth information about commonly used ingredients, track down local
                        suppliers or learn about substitutions.


                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-6 centre-img roundel-img">
            <div class="img">
                <div class="picture-frame">
                    <img src="/images/roundels/jollof-rice.svg" class="roundel-right"></img>
                    <img src="/images/paradise-jollof-jars.jpg"></img>
                </div>
                <figcaption>Jars of cooking paste which feature matching colour palettes and illustrations with the rest
                    of
                    the range.
                </figcaption>
            </div>
        </div>

        <div class="row-7 caption double-caption">
            <table class="caption-table caption-4">
                <thead>
                    <tr>
                        <th class="main-head">creating a better recipe experience</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">I’m forever frustrated by the state of so many recipe pages online: they’re
                            often full of unnecessary and unwarranted information (“my husband normally hates peas, but
                            loves them in this recipe!!”) and take huge amounts of scrolling just to get to the elements
                            you want — the ingredients and the method. My pages are cleaner, more focused and easy to
                            navigate.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">creating a better recipe experience</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Each of the recipe pages on Abeo! start with a short, informative introduction,
                            with further thoughts and notes hidden under a ‘read more’. If an ingredient or technique
                            could use more explanation, it is highlighted — the user can click on it to bring in
                            annotations with further explanation. The recipes themselves are very visual, offering a
                            helping hand to those who may find the ingredients unfamiliar.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-8 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/paradise-curried-jars.jpg"></img>
            </div>
            <figcaption>Cooking pastes are an easy alternative for new cooks who may struggle to find some of the more
                inaccessible ingredients.
            </figcaption>
        </div>

        <div class="row-8 large-right-img top-margin-large">
            <div class="picture-frame">
                <img src="/images/paradise-sticker-mockup.jpg"></img>
            </div>
            <figcaption>A packet of stickers found free inside Food of Paradise products, featuring the chance to win a
                trip to Lagos.
            </figcaption>
        </div>

        <table class="row-9 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">print isn't dead</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">To introduce a wider audience to the website, free newspapers filled with the most
                        accessible content and articles from the website are printed and distributed to independent
                        retailers, cafés and restaurants.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-10 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>