<head>
    <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
</head>
{{!-- PAGE INTRO --}}

<div class="page-intro">
    <h1 class="title">So, here I am.</h1>

    <h3 class="sub-heading">statement about me and my work goes here.</h3>

    <div class="title-seperator"></div>
</div>

{{!-- MAIN CONTENT --}}

<div class="main-grid">



</div>