<div class="page-intro">
    <h1 class="title title-more-leading">Thinking Differently About Racism.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">a print and video campaign confronting racism on campus.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Script Writing / Storyboarding / Illustration / Branding</td>
                <td>Anti-racism / Higher Education / Video Production</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                        src="https://player.vimeo.com/video/359718835?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">how can we approach racism differently?</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Confronting racism in a genuinely meaningful way requires incredible hard work.
                            It involves confronting the countless failures in our society to tackle the problem at
                            earlier stages: through our education system, media and in Government. As part of The
                            University of Sheffield’s Race Equality Strategy and Action Plan, I had the task of trying
                            to understand why people struggle so much when confronted with hard truths about racism and
                            finding new, accessible ways to explain why racism happens and how we can tackle it.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">how can we approach racism differently?</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> We decided that a carefully considered video and print campaign in conjunction
                            with a series of informational lectures and workshops would create an accessible but robust
                            introduction to a wider strategy of anti-racism across the University.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-3 centre-img-large roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/talk.svg" class="roundel"
                    alt="roundel that reads it's time to listen and talk"></img>
                <img src="/images/racism-screenshots.jpg"
                    alt="8 screenshots from the video showing headlines and stats about racism as well as characters interacting"></img>
            </div>
            <figcaption>Screenshots from the video.
            </figcaption>
        </div>

        <h5 class="row-4 quote">82.2% of students are now more confident in challenging racism.</h5>

        <div class="row-5 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">measuring our impact</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The finished video was shown to all incoming First Year students in compulsory
                            welcome lectures (around 16,000 students), with an additional viewership of over 19,000
                            across social media platforms. We received tonnes of meaningful engagement — direct feedback
                            from students, staff and those outside the University who watched the video and engaged in
                            the the wider campaign, as well as comments, shares and reactions online.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">measuring our impact</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> The impact of the video, in combination with the rest of the programme we
                            developed, is clear: 88.4% of students reported now understanding their role in helping to
                            achieve the goals of the University's Race Equality Strategy. 97.3% are clear that the
                            University does not tolerate racism, discrimination and prejudice, 85% are more confident
                            about their understanding of racism and microaggression and 82.2% are more confident about
                            challenging racism, discrimination and prejudice.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-6 centre-img-large">
            <div class="picture-frame">
                <img src="/images/racism-characters.jpg"
                    alt="a selection of 8 student-age characters in bright coloured clothes"></img>
            </div>
            <figcaption>The characters were used across the print, social and video campaign.
            </figcaption>
        </div>

        <table class="row-7 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">more changes to come</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">This project is part of an extended body of work focusing on anti-racism that I have
                        created at the University of Sheffield. As well as completing work as part of my membership of
                        the University's Anti-Racism Working Group and Anti-Racism Communication and Engagement Group, I
                        have independently pushed for further, more radical change, summarised in a proposal you can
                        read <a href="/images/anti-racism-proposal.pdf" target="_blank">here.</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-8 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>