<div class="page-intro">
    <h1 class="title title-more-leading">Anti-Bike Theft.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">free bikes for you! and you! and you!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Digital Illustration / Photo Editing</td>
                <td>Higher Education / Security / Neon</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/bike-poster.jpg"
                    alt="a poster featuring a bike being pointed at by many different neon lights reading 'free bike!'"></img>
            </div>
            <figcaption>The main campaign poster, shining bright with neon lights.</figcaption>
        </div>

        <table class="row-2 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">don't miss out!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">My task here was to convert what is essentially a boring message — to remember to
                        keep your bike locked up and safe — into something that the target audience would notice and
                        respond to.

                        I designed a flashing neon-led image demonstrating how an unlocked bike may appear to a
                        potential
                        thief. The artwork was later animated by my co-worker <a href="http://www.kieranbentley.com/">
                            Kieran Bentley</a> and displayed across social
                        media and live screens across campus.
                    </td>
                </tr>
            </tbody>
        </table>


        {{!-- PHOTO GRID --}}

        <div class="row-3 photo-grid-4-col-borders">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-4-col-column-borders">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-1.png" alt="an arrow neon light"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-2.png" alt="a neon light that reads 'free'"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-4-col-column-borders">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-3.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-4.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

            </div>

            <div class="photo-grid-4-col-column-borders">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-5.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-6.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-4-col-column-borders">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-7.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/bike-neon-8.png" alt="a neon light that reads 'free bike'"></img>
                    </div>
                </div>

            </div>

        </div>

        <div class="row-4 centre-img-large">
            <div class="picture-frame">
                <img src="/images/gifs/bike-theft-horizontal.gif"
                    alt="an animated landscape graphic of the bike surrounded by flashing neon lights"></img>
            </div>
            <figcaption>The animated version was used across campus on digital screens and on the University's social
                accounts.</figcaption>
        </div>



        <div class="row-5 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>