<div class="page-intro">
    <h1 class="title title-more-leading">Protect Your Brain!</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">talking about mental health</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Illustration / Character Design</td>
                <td>Mental Health / Higher Education</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/brains-social.jpg"></img>
            </div>
            <figcaption>The front cover of the book is designed as a contemporary take on Victorian illustrated book
                covers.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Cooking is a practice which often relies heavily on passing on recipes,
                            techniques and ideas from one person to the next. Old family recipe books are littered with
                            scrawled notes in the margins and recipes torn out of magazines stuffed between the pages.
                            Inspired by this notion, the forms the recipes in this cookbook take reflect their possible
                            imagined origin, connoting the process of travelling and picking up on ideas from many
                            different sources.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> I examined Sally Clarke’s writing, noting the places she travelled to, the
                            origins of the dishes she created and her stories of collecting recipes from the strangers
                            she met all over the world. To reflect her stories, I designed the ingredient lists and
                            methods of each recipe to appear like found printed ephemera which are stuck, scrapbook-like
                            into the cookbook.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        {{!-- PHOTO GRID --}}

        <div class="row-3 photo-grid">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-1.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-2.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-3.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-4.jpg"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-5.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-6.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-7.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-8.jpg"></img>
                    </div>
                </div>

            </div>

        </div>

<h5 class="row-4 quote">How are you protecting your brain?</h5>

        <div class="row-5 small-left-img top-margin">
            <div class="picture-frame">
                <img src="/images/brains-plasma.jpg"></img>
            </div>
            <figcaption>The contents page is made up of travel tickets pointing readers to the right destination.
            </figcaption>
        </div>

        <div class="row-5 extra-large-right-img roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/yes-pink.svg" class="roundel-right"></img>
                <img src="/images/brains-horizontal-poster.jpg"></img>
            </div>
            <figcaption>A selection of recipes, ingredient lists and decorative extras in the style of found ephemera
                from a variety of countries and times.
            </figcaption>
        </div>

        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">perception vs. culture</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Whilst some of the elements have more clear historical design influences than
                        others, they all have a sense of retro-inspired timelessness: being from somewhere in the past
                        which you can't quite place.

                        I was careful to spend time examining how design from different countries and time periods
                        <em>actually</em> appeared, rather than how I <em>thought</em> they might. This research phase, which continued
                        throughout the project, was incredibly informative and interesting. If there’s one thing I love
                        more than design, it’s design plus history.
                    </td>
                </tr>
            </tbody>
        </table>

                <div class="row-7 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/brains-poster.jpg"></img>
            </div>
            <figcaption>The contents page is made up of travel tickets pointing readers to the right destination.
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-2 top-margin roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/yes-pink.svg" class="roundel-right"></img>
                <img src="/images/brains-stickers.jpg"></img>
            </div>
            <figcaption>A selection of recipes, ingredient lists and decorative extras in the style of found ephemera
                from a variety of countries and times.
            </figcaption>
        </div>

        <div class="row-8 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>