<div class="page-intro">
<h1 class="title title-more-leading">Love <br>your brain!</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">what does a healthy mind mean to you?</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Illustration / Character Design</td>
                <td>Mental Health / Higher Education / Student Communication</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/brains-lonely.jpg"></img>
            </div>
            <figcaption>Normalising emotions that can feel isolating and alientating is an important part of the
                campaign.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">What does it mean to have a healthy mind?</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Over the past few years, we’ve been seeing more and more productive
                            conversations surrounding mental health and wellbeing. However, despite the progress, many
                            still feel ashamed of their relationship to their mental health and have yet to engage
                            seriously in the resources and help available.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">What does it mean to have a healthy mind?</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            This can lead to large numbers of young people viewing mental health as something only
                            relevant to <em>other</em> people — those who are clinically diagnosed with specific
                            illnesses or who
                            are manifesting mental health problems in specific ways.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row-3 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/brains-bright-ideas.jpg"></img>
            </div>
            <figcaption>Worries about studying and exams cause a lot of stress — academic support is one part of this holistic approach to mental wellbeing.
            </figcaption>
        </div>

        <div class="row-3 large-right-img roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/gloomy.svg" class="roundel-right"></img>
                <img src="/images/brains-weather.jpg"></img>
            </div>
            <figcaption>The campaign helps point students to wellbeing services as well as encouraging good mental health practices.
            </figcaption>
        </div>

        <h5 class="row-4 quote">How are you protecting your brain?</h5>

        <div class="row-5 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/brains-recharge.jpg"></img>
            </div>
            <figcaption>Different visual metaphors describe the varied ways students may be feeling — and how they can help themselves feel better.
            </figcaption>
        </div>

        <div class="row-5 medium-right-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/brains-burnt-out.jpg"></img>
            </div>
            <figcaption>The campaign looks to start a conversation as well as providing advice and pointing to services.
            </figcaption>
        </div>

        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">visualising emotion</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">As part of a preventative approach to encourage early intervention before problems arise, we
                            wanted to encourage all students to engage in good mental health and wellbeing practices.
                            Just as you should exercise and eat well to have a healthy body, you have to put in work to
                            have a healthy mental state, too. This was an entirely new approach for the University, so I created an entirely new
                        visual language to talk to an audience who may have previously been resistant to mental health
                        messaging.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-7 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/brains-siren.jpg"></img>
            </div>
            <figcaption>An anxious, blaring siren worried about their exams.
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-2 top-margin roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/be-kind.svg" class="roundel-right"></img>
                <img src="/images/brains-stickers.jpg"></img>
            </div>
            <figcaption>Stickers and badges are used as a fun, interactive way to join in with the campaign.
            </figcaption>
        </div>

        <table class="row-8 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">visualising emotion</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">To represent this holistic approach, I created a collection of characters to
                        represent different aspects of mental health and wellbeing. The characters experiences all the
                        different emotions and obstacles that we all do and deal with them using a wide range of
                        physical and emotional care. By anthropomorphising the characters, I can create a variety of
                        illustrations visualising topics which are often hard to put into words.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-9 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/brains-sunny-days.jpg"></img>
            </div>
            <figcaption>Another sticker.
            </figcaption>
        </div>

        <div class="row-9 large-right-img">
            <div class="picture-frame">
                <img src="/images/brains-valentines.jpg"></img>
            </div>
            <figcaption>Wishing all the students a happy Valentine's with a reminder to love themselves.
            </figcaption>
        </div>

        <div class="row-10 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>