<div class="page-intro">
    <h1 class="title title-more-leading">Protect Your Brain!</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">let's talk about mental health.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Illustration / Character Design</td>
                <td>Mental Health / Higher Education / Student Communication</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/brains-social.jpg"></img>
            </div>
            <figcaption>A social media post reminding us all to practice self-care and love on Valentine's Day.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">What does it mean to have a healthy brain?</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Over the past few years, we've been seeing more and more productive
                            conversations surrounding mental health and wellbeing. However, despite the progress,
                            there's still a lot of shame surrounding the topic, especially amongst specific demographics
                            for whom mental illness is still seen as a taboo.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">What does it mean to have a healthy brain?</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> People often view mental health as something only relevant to <em>other</em>
                            people — those clinically diagnosed with specific illnesses or manifesting mental health
                            problems in specific ways. We instead wanted to encourage an approach in which mental health
                            and wellness is seen as relevant to everyone. Just as you know you should exercise and eat
                            well to have a healthy body, you have to put in work to have a healthy brain, too.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        {{!-- PHOTO GRID --}}

        <div class="row-3 photo-grid">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-1.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-2.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-3.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-4.jpg"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-5.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-6.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-7.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/brains-8.jpg"></img>
                    </div>
                </div>

            </div>

        </div>

        <h5 class="row-4 quote">How are you protecting your brain?</h5>

        <div class="row-5 small-left-img top-margin">
            <div class="picture-frame">
                <img src="/images/brains-plasma.jpg"></img>
            </div>
            <figcaption>A digital screen encouraging students to think about their mental wellbeing.
            </figcaption>
        </div>

        <div class="row-5 extra-large-right-img roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/yes-pink.svg" class="roundel-right"></img>
                <img src="/images/brains-horizontal-poster.jpg"></img>
            </div>
            <figcaption>A selection of recipes, ingredient lists and decorative extras in the style of found ephemera
                from a variety of countries and times.
            </figcaption>
        </div>

        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">perception vs. culture</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Whilst some of the elements have more clear historical design influences than
                        others, they all have a sense of retro-inspired timelessness: being from somewhere in the past
                        which you can't quite place.

                        I was careful to spend time examining how design from different countries and time periods
                        <em>actually</em> appeared, rather than how I <em>thought</em> they might. This research phase,
                        which continued
                        throughout the project, was incredibly informative and interesting. If there’s one thing I love
                        more than design, it’s design plus history.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-7 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/brains-poster.jpg"></img>
            </div>
            <figcaption>The contents page is made up of travel tickets pointing readers to the right destination.
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-2 top-margin roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/yes-pink.svg" class="roundel-right"></img>
                <img src="/images/brains-stickers.jpg"></img>
            </div>
            <figcaption>A selection of recipes, ingredient lists and decorative extras in the style of found ephemera
                from a variety of countries and times.
            </figcaption>
        </div>

        <div class="row-8 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>