<div class="page-intro">
    <h1 class="title title-more-leading">Capsicum <br> Chilli Tequila.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">it doesn't get hotter than this!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Project</td>
                <td>Packaging Design / Branding</td>
                <td>Alcohol / Chilli</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-extra-large">
            <div class="picture-frame">
                <img src="/images/capsicum-bright-collection.jpg"></img>
            </div>
            <figcaption>The three launch flavours; jalapeño, sichuan and scotch bonnet pepper.
            </figcaption>
        </div>

        <table class="row-2 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">bottoms up!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">I love chilli and I love tequila. Here's my pitch: why don't we combine them?
                        Capiscum Spiced Tequila is a range of flavoured tequilas, each spiced with a different blend of
                        chillies. Drinking is at its best when its combined with great food and greater company.
                        Capsicum encourages both. It's a drink designed for sharing, experimenting with and cooking
                        with.
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="row-3 large-left-img roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/gloomy.svg" class="roundel"></img>
                <img src="/images/capsicum-orange.jpg"></img>
            </div>
            <figcaption>Worries about studying and exams cause a lot of stress — academic support is one part of this
                holistic approach to mental wellbeing.
            </figcaption>
        </div>

        <div class="row-3 medium-right-img-3 top-margin">
            <div class="picture-frame">
                <img src="/images/capsicum-logo.jpg"></img>
            </div>
            <figcaption>The campaign helps point students to wellbeing services as well as encouraging good mental
                health practices.
            </figcaption>
        </div>

        <h5 class="row-4 quote">Is it getting <br>hot in here?</h5>

        <div class="row-5 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/capsicum-label.jpg"></img>
            </div>
            <figcaption>Different visual metaphors describe the varied ways students may be feeling — and how they can
                help themselves feel better.
            </figcaption>
        </div>

        <div class="row-5 large-right-img">
            <div class="picture-frame">
                <img src="/images/capsicum-blue.jpg"></img>
            </div>
            <figcaption>The campaign looks to start a conversation as well as providing advice and pointing to services.
            </figcaption>
        </div>

        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">visualising emotion</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">As part of a preventative approach to encourage early intervention before problems
                        arise, we
                        wanted to encourage all students to engage in good mental health and wellbeing practices.
                        Just as you should exercise and eat well to have a healthy body, you have to put in work to
                        have a healthy mental state, too. This was an entirely new approach for the University, so I
                        created an entirely new
                        visual language to talk to an audience who may have previously been resistant to mental health
                        messaging.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-7 large-left-img">
            <div class="picture-frame">
                <img src="/images/capsicum-pink.jpg"></img>
            </div>
            <figcaption>An anxious, blaring siren worried about their exams.
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-3 top-margin roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/be-kind.svg" class="roundel-right"></img>
                <img src="/images/capsicum-stars.jpg"></img>
            </div>
            <figcaption>Stickers and badges are used as a fun, interactive way to join in with the campaign.
            </figcaption>
        </div>



        <div class="row-8 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>