<div class="page-intro">
    <h1 class="title title-more-leading">Capsicum <br> Spiced Tequila.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">it doesn't get hotter than this!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Project</td>
                <td>Packaging Design / Branding</td>
                <td>Alcohol Packaging / Chilli</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-extra-large">
            <div class="picture-frame">
                <img src="/images/capsicum-bright-collection.jpg"
                    alt="three tequila bottles of different flavours: a blue jalapeno flavour, an orange sichuan flavour and a pink scotch bonnet flavour"></img>
            </div>
            <figcaption>The three launch flavours; jalapeño, sichuan and scotch bonnet pepper.
            </figcaption>
        </div>

        <table class="row-2 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">bottoms up!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">I love chilli and I love tequila. Here's my pitch: why don't we combine them?
                        Capiscum Spiced Tequila is a range of flavoured tequilas, each spiced with a different blend of
                        chillies. Drinking is at its best when it's combined with great food and greater company.
                        Capsicum encourages both. It's a drink designed for sharing, experimenting with and cooking
                        with.
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="row-3 large-left-img roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/keep-pouring.svg" class="roundel"
                    alt="a roundel that reads 'keep pouring please'"></img>
                <img src="/images/capsicum-orange.jpg"
                    alt="an orange tequila bottle which reads 'capsicium spiced tequila'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>

        <div class="row-3 small-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/capsicum-logo.jpg"
                    alt="the capsicum logo which reads 'over 60,000 shu, capsicum, chilli and tequila'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>

        <h5 class="row-4 quote">Is it getting <br>hot in here?</h5>

        <div class="row-5 small-left-img top-margin">
            <div class="picture-frame">
                <img src="/images/capsicum-label.jpg"
                    alt="a secondary logo which reads 'made for sharing and feasting, sichuan tequila'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>

        <div class="row-5 large-right-img">
            <div class="picture-frame">
                <img src="/images/capsicum-blue.jpg"
                    alt="a blue tequila bottle which reads 'capsicium spiced tequila'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>


        <div class="row-7 large-left-img">
            <div class="picture-frame">
                <img src="/images/capsicum-pink.jpg"
                    alt="a pink tequila bottle which reads 'capsicium spiced tequila'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-3 top-margin">
            <div class="picture-frame">
                <img src="/images/capsicum-stars.jpg" alt="three stickers that read 'hot and spicy'"></img>
            </div>
            <figcaption>
            </figcaption>
        </div>



        <div class="row-8 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>