<head>
    <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">
</head>
{{!-- PAGE INTRO --}}

<div class="page-intro">
    <h1 class="title">Hey, let's talk.</h1>

    <h3 class="sub-heading">if there's one thing i love more than design, <br> it's talking about design.</h3>

    <div class="title-seperator"></div>
</div>

{{!-- MAIN CONTENT --}}

<div class="main-content">

    <div class="self-portrait">
        <img src="/images/self-portrait-border.png"></img>
    </div>

    <div class="contact-rectangles">

        <div class="email-me">
            <span><a href="work">Email me</a></span>
        </div>

        <div class="seperator"></div>

        <div class="link-me">
            <span><a href="work">Link with me</a></span>
        </div>

        <div class="seperator"></div>

        <div class="instagram-me">
            <span><a href="work">Instagram me</a></span>
        </div>

        <div class="seperator"></div>

        <div class="connect-me">
            <span><a href="work">Connect with me</a></span>
        </div>

    </div>

    <div class="necklace">
        <img src="/images/necklace.png">
    </div>

</div>