<div class="page-intro">
    <h1 class="title">Food of Paradise.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">we’re all eating jollof rice tonight!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Independent University Project</td>
                <td>Brand design, packaging design, illustration</td>
                <td>West African, food, culture</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="img img-1">
            <div class="picture-frame">
                <img src="/images/rice-packaging.png"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                            ingredients can only be found in specialist shops, rendering it inaccessible to many
                            consumers
                            who will never be given the opportunity to discover this rich culinary culture themselves.
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="seperator seperator-1"></div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">This project was one strand of a wider project examining how West African food
                            could be successfully introduced into mainstream British taste. View the two other sister
                            projects here and here.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="quote-1">How can we crossthese cultural bridges?</h5>

        <div class="img img-2">
            <div class="picture-frame">
                <img src="/images/paradise-plantain-chips.png"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="img img-3">
            <div class="picture-frame">
                <img src="/images/paradise-spice-mix.jpg"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>


        <table class="caption-table caption-3">
            <thead>
                <tr>
                    <th class="main-head">let’s talk about food</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                        ingredients can only be found in specialist shops, rendering it inaccessible to many
                        consumers
                        who will never be given the opportunity to discover this rich culinary culture themselves.
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="img img-4">
            <div class="picture-frame">
                <img src="/images/paradise-jollof-jars.jpg"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="img img-5">
            <div class="picture-frame">
                <img src="/images/paradise-curried-jars.jpg"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="img img-6">
            <div class="picture-frame">
                <img src="/images/paradise-sticker-mockup.jpg"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <h4 class="thanks">Thanks for taking a look at this project!</h4>

        <div class="go-back">
            <p>go back to view more of my work</p>
        </div>

    </div>