<div class="page-intro">
    <h1 class="title">Food of <br> Paradise.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">we’re all eating jollof rice tonight!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Independent University Project</td>
                <td>Branding / Packaging Design / Illustration</td>
                <td>West Africa / Food / Culture</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper" role="main">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/paradise-rice-packaging.jpg"
                    alt="a box of long grain rice featuring a repeat pattern of a bowl of jollof rice"></img>
            </div>
            <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof
                rice.
            </figcaption>
        </div>

        <div class="row-2 caption double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                            ingredients can only be found in specialist shops, rendering it inaccessible to many
                            consumers
                            who will never be given the opportunity to discover this rich culinary culture themselves.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">This project was one strand of a wider project examining how West African food
                            could be successfully introduced into mainstream British taste. View its sister project
                            <a href="okra">here</a>.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="row-3 quote">Talking through the universal language of food.</h5>

        <div class="row-4 large-left-img roundel-img">

            <div class="img">
                <div class="picture-frame">
                    <img src="/images/roundels/plantain.svg" class="roundel" alt="a roundel that says 'plantain'"></img>
                    <img src="/images/paradise-plantain-chips.jpg"
                        alt="a packet of plantain chips with a repeat pattern of plantains"></img>
                </div>
                <figcaption>The bold, repeated patterns are inspired by the Dutch ink style of printing found in pagne
                    prints.
                </figcaption>
            </div>

        </div>

        <div class="row-4 small-right-img top-margin-large">
            <div class="picture-frame">
                <img src="/images/paradise-spice-mix.jpg"
                    alt="a small box of Yassa spice mix featuring a repeat pattern of a fish"></img>
            </div>
            <figcaption>Packaging for a spice mix inspired by a Senegalese dish called Poulet au Yassa.
            </figcaption>
        </div>


        <table class="row-5 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">perception vs. culture</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Without access to cultural outputs from West Africa, along with negative portrayals
                        in film and on television, negative perceptions of the region can flourish. Fascinated by the
                        link between the way we access and enjoy the food of other cultures and how we view those
                        cultures outside of their culinary produce, I began researching how creating accessible,
                        mainstream brands for West African food products in the UK could help to create more positive
                        perceptions of the region.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-6 centre-img roundel-img">
            <div class="img">
                <div class="picture-frame">
                    <img src="/images/roundels/jollof-rice.svg" class="roundel-right"
                        alt="a roundel that reads 'jollof rice everyday'"></img>
                    <img src="/images/paradise-jollof-jars.jpg"
                        alt="two jars of jollof rice cooking paste, featuring a repeat pattern of a bowl of jollof rice'"></img>
                </div>
                <figcaption>Jars of cooking paste which feature matching colour palettes and illustrations with the rest
                    of
                    the range.
                </figcaption>
            </div>
        </div>

        <div class="row-7 caption double-caption">
            <table class="caption-table caption-4">
                <thead>
                    <tr>
                        <th class="main-head">getting familiar</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Food of Paradise is a brand inspired in name by 'grains of paradise', an
                            ingredient prevalent in West African cooking, but seldom found in British shops. It uses
                            illustration inspired by pagne prints, an unusual colour palette and bold typography to
                            encourage an unfamiliar audience to try something new.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">getting familiar</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The brand is carefully designed to reduce potential feelings of alienation or
                            fear the audience may experience when trying totally unfamiliar food. Each product's
                            packaging contains shopping lists, recipes and a light-hearted tone of voice to encourage
                            the potentially wary audience to give West African food a try.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-8 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/paradise-curried-jars.jpg"
                    alt="two jars of curried goat cooking paste in yellow"></img>
            </div>
            <figcaption>Cooking pastes are an easy alternative for new cooks who may struggle to find some of the more
                inaccessible ingredients.
            </figcaption>
        </div>

        <div class="row-8 large-right-img top-margin-large">
            <div class="picture-frame">
                <img src="/images/paradise-sticker-mockup.jpg"
                    alt="two packets of stickers featuring illustrations of a goat, scotch bonnet peppers, fish, jollof rice, plantain and a chicken"></img>
            </div>
            <figcaption>A packet of stickers found free inside Food of Paradise products, featuring the chance to win a
                trip to Lagos.
            </figcaption>
        </div>

        <table class="row-9 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">outside of the brand</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Beyond simply introducing a new audience to West African food, the brand seeks to
                        create direct connections between the British public and West African identities and economies
                        in a tangible way. One advertising campaign, for example, allows the audience to win a trip to a
                        villa holiday in Lagos, helping to generate excitement surrounding the potential for tourism in
                        West Africa.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-10 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>