<div class="page-intro">
    <h1>Food of Paradise.</h1>

    <div class="seperator"></div>

    <h3>we’re all eating jollof rice tonight!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Independent University Project</td>
                <td>Brand design, packaging design, illustration</td>
                <td>West African, food, culture</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="case-study">
    <div class="picture-frame ten-col">
        <img src="/images/rice-packaging.png"></img>
    </div>
</div>