<div class="page-intro">
    <h1>Food of Paradise.</h1>

    <div class="seperator"></div>

    <h3>we’re all eating jollof rice tonight!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Independent University Project</td>
                <td>Brand design, packaging design, illustration</td>
                <td>West African, food, culture</td>
            </tr>
        </tbody>
    </table>
</div>



<div class="case-study">

    <div class="img">
        <div class="picture-frame ten-col">
            <img src="/images/rice-packaging.png"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <div class="caption-table">
        <table>
            <thead>
                <tr>
                    <th>let’s talk about food</th>
                    <th>one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                        ingredients can only be found in specialist shops, rendering it inaccessible to many consumers
                        who will never be given the opportunity to discover this rich culinary culture themselves.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="seperator"></div>

    <div class="caption-table">
        <table>
            <thead>
                <tr>
                    <th>let’s talk about food</th>
                    <th>one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                        ingredients can only be found in specialist shops, rendering it inaccessible to many consumers
                        who will never be given the opportunity to discover this rich culinary culture themselves.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>How can we crossthese cultural bridges?</h5>

    <div class="img">
        <div class="picture-frame">
            <img src="/images/paradise-plantain-chips.png"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <div class="img">
        <div class="picture-frame">
            <img src="/images/paradise-spice-mix.jpg"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <div class="caption-table">
        <table>
            <thead>
                <tr>
                    <th>let’s talk about food</th>
                    <th>one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">West African food is widely unavailable in most British supermarkets. Many
                        ingredients can only be found in specialist shops, rendering it inaccessible to many consumers
                        who will never be given the opportunity to discover this rich culinary culture themselves.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="img">
        <div class="picture-frame">
            <img src="/images/paradise-jollof-jars.jpg"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <div class="img">
        <div class="picture-frame">
            <img src="/images/paradise-curried-jars.jpg"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <div class="img">
        <div class="picture-frame">
            <img src="/images/paradise-sticker-mockup.jpg"></img>
        </div>
        <figcaption>Packaging for long grain rice, featuring a shopping list to encourage customers to make jollof rice.
        </figcaption>
    </div>

    <h4>Thanks for taking a look at this project!</h4>

    <div class="go-back"><p>go back to view more of my work</p></div>

</div>