<div class="page-intro">
    <h1 class="title title-more-leading">University of Sheffield GIF Sets</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">let's go uni! let's go uni! let's go uni!</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Illustration</td>
                <td>Higher Education / Social Media / GIFs</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-large">
            <div class="picture-frame">
                <img src="/images/gif-sets-header.jpg"
                    alt="a collage of blue and yellow stickers, including illustrations of university buildings, flags and sports icons"></img>
            </div>
        </div>

        <table class="row-2 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">time for school spirit!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">I designed and illustrated several suites of animated GIFs for The University of
                        Sheffield to help shape a more modern and engaging approach to their student communications.

                        Reflecting different aspects of university life, each new set has received huge engagement from
                        the student body, gaining 14.1 million total views across social media platforms. The suite was
                        animated by my co-worker <a href="http://www.kieranbentley.com/">Kieran Bentley.</a>
                    </td>
                </tr>
            </tbody>
        </table>


        {{!-- PHOTO GRID --}}

        <div class="row-3 photo-grid-4-col">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-4-col-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/grad-1.gif" alt="an animated graduation cap"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/grad-2.gif" alt="an animated degree certificate"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-4-col-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/sheffield-1.gif" alt="an animated illustration of Sheffield"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/sheffield-2.gif" alt="an animated car with suitcases on the roof"></img>
                    </div>
                </div>

            </div>

            <div class="photo-grid-4-col-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/grad-3.gif" alt="an animated train driving to Sheffield"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/grad-4.gif" alt="a car driving to Sheffield"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-4-col-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/sheffield-3.gif"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/sheffield-4.gif"></img>
                    </div>
                </div>

            </div>

        </div>



        <div class="row-4 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>