<head><link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css"></head>
<h1>Hello, this is my title.</h1>
<h2>This is my sub-heading!</h2>
<p>Welcome to my  page {{title}}</p>
<p>Current time is: {{currentTime}}</p>
