{{!-- PAGE INTRO --}}

<div class="page-intro home">
    <h1 class="title">Please, let me introduce myself.</h1>

    <h3 class="sub-heading">graphic design / copywriting / web</h3>

    <div class="title-seperator"></div>

</div>

{{!-- MAIN CONTENT --}}
{{!--image rotation code originally from https://github.com/sladex/images-rotation --}}
<div class="main-grid">

    <table class="row-1 caption caption-table">
        <thead>
            <tr>
                <th class="main-head">I'M ELLA & THIS IS MY WHOLE DEAL</th>
                <th class="number-head">one</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">I'm a designer and copywriter obsessed with the idea that design should help to make the
                    world a better place. My process is all about exploring the intersections of design, society and
                    history in order to create rich, concept-focused solutions which are conscious of their context and
                    relationship with their audience. I currently hold the position of Visual Designer at The University
                    of Sheffield, but I'm still available for freelance work. Talk to me about your project <a href="contact">here</a>.
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row-2 medium-left-img-2">
        <div class="picture-frame">
            <a href="sally-clarke" class="images-rotation"
                data-images='["/images/cropped/sally-clarke-stamps.jpg", "/images/sally-clarke-stickers.jpg", "/images/sally-clarke-telegram.jpg", "/images/sally-clarke-tiki.jpg"]'>
                <img src="/images/cropped/sally-clarke-stamps.jpg" id="img-1"></img>
            </a>
        </div>
    </div>




    <div class="row-2 large-right-img top-margin roundel-img-right">
        <div class="img">
            <div class="picture-frame">
                <img src="/images/roundels/hungry.svg" class="roundel-right"></img>
                <a href="food-of-paradise" class="images-rotation"
                    data-images='["/images/transform/paradise-plantain-chips.jpg", "/images/transform/paradise-rice.jpg", "/images/transform/paradise-jar.jpg", "/images/transform/paradise-yassa.jpg", "/images/transform/paradise-sticker.jpg"]'>
                    <img src="/images/transform/paradise-plantain-chips.jpg" id="img-1"></img>
                </a>
            </div>
        </div>
    </div>

    <table class="row-3 caption caption-table">
        <thead>
            <tr>
                <th class="main-head">THIS ISN'T MY FIRST RODEO</th>
                <th class="number-head">one</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">My experience as a designer ranges from working alongside large and small agencies and
                    studios, as well as working for a wide variety of clients as a freelancer. I've worked in-studio
                    with du.st, Intermarketing Agency, Thompson Brand Partners and Magpie, producing work for both local
                    and international clients. As the current sole designer for Student Communications at The University
                    of Sheffield, I spend my time as a designer and art director for 30,000 students and a wider global
                    audience outside of the University.
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row-4 medium-left-img-2 top-margin">
        <div class="picture-frame">
            <a href="nuns" class="images-rotation"
                data-images='["/images/nuns-poster-main.jpg", "/images/transform/nuns-hands.jpg", "/images/transform/nuns-cross.jpg", "/images/transform/nuns-pray.jpg", "/images/transform/nuns-rose.jpg"]'>
                <img src="/images/nuns-poster-main.jpg" id="img-1"></img>
            </a>
        </div>
    </div>

    <div class="row-4 large-right-img">
        <div class="picture-frame">
            <a href="mixing-bowl" class="images-rotation"
                data-images='["/images/mixing-bowl-book.jpg", "/images/transform/mixing-bowl-letter.jpg", "/images/transform/mixing-bowl-laptop.jpg", "/images/transform/mixing-bowl-poster.jpg"]'>
                <img src="/images/mixing-bowl-book.jpg" id="img-1"></img>
            </a>
        </div>
    </div>



    <div class="row-5 medium-left-img roundel-img-right top-margin">
        <div class="img">
            <div class="picture-frame">
                <img src="/images/roundels/yes-pink.svg" class="roundel-right"></img>
                <a href="okra" class="images-rotation"
                    data-images='["/images/okra-menu.jpg", "/images/transform/okra-bottle.jpg", "/images/transform/okra-letter.jpg", "/images/transform/okra-shirt.jpg", "/images/transform/okra-signage.jpg", "/images/transform/okra-notes.jpg"]'>
                    <img src="/images/okra-menu.jpg" id="img-1"></img>
                </a>
            </div>
        </div>
    </div>

    <div class="row-5 medium-right-img-3">
        <div class="picture-frame">
            <a href="leica" class="images-rotation"
                data-images='["/images/leica-vertical.jpg", "/images/transform/leica-2.jpg", "/images/transform/leica-3.jpg"]'>
                <img src="/images/leica-vertical.jpg" id="img-1"></img>
            </a>
        </div>
    </div>

    <table class="row-6 caption caption-table">
        <thead>
            <tr>
                <th class="main-head">CALL ME!</th>
                <th class="number-head">one</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">If you have a project which requires thoughtful design solutions, I want to know about it. <a href="contact"> Contact me here.</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row-7 see-work">
        <div class="go-back centre">
            <p><a href="work">view more work here</a></p>
        </div>

    </div>

</div>