<div class="page-intro">
    <h1 class="title title-more-leading">Celebrating Leica.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">Complex machinery and iconic kisses.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Project</td>
                <td>Illustration</td>
                <td>Photography / History / Poster Series</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <table class="row-1 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">long live leica!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Many of the world's favourite photographs were taken with Leica cameras. It is the
                        brand's commitment to both technical excellence and creativity which has resulted in its
                        products becoming the vehicle for the creation of iconic works of art.

                        The poster series explores this combination of art and technical precision with a technical
                        review of the compositions and shapes found within some of street photography's most important
                        photographs.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-2 centre-img">
            <div class="picture-frame">
                <img src="/images/leica-main.jpg"></img>
            </div>
        </div>

        <div class="row-3 centre-img">
            <div class="picture-frame">
                <img src="/images/leica-2.jpg"></img>
            </div>
        </div>

        <div class="row-4 centre-img">
            <div class="picture-frame">
                <img src="/images/leica-3.jpg"></img>
            </div>
        </div>


        {{!-- THANKS AND BACK --}}
        <div class="row-5 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>