<div class="page-intro">
    <h1 class="title">Lumi <br>Dental Care.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">oral hygiene, but make it fashion.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Packaging Design Course</td>
                <td>Packaging Design / Branding</td>
                <td>Lifestyle / Health / Beauty</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-large">
            <div class="picture-frame">
                <img src="/images/lumi-toothpaste-outer.jpg"></img>
            </div>
            <figcaption>The three flavours of toothpaste, each with a different focus: whitening, protecting and strengthening.
            </figcaption>
        </div>


        <div class="row-2 caption double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">back to school</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Wanting to expand my design repertoire, I took a packaging design course led by
                            independent designer <a href="https://our-kind.studio/">Laura Evans</a>. I learnt <em>a
                                lot</em>, both about the technicalities of package
                            creation and about the wider creative process. As part of the course, we were given a brief:
                            create the brand and packaging design for <em>Lumi</em>, a new dental care challenger brand.
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">back to school</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Dental care has been stuck with the same aesthetic for many years now — the red,
                            blue and white colour scheme, the swooshes, the dated 'science' feel. We were challenged to
                            create a premium alternative which went up against the sameness of the supermarket shelf —
                            something that repositioned a boring commodity item into something desirable.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row-3 extra-large-left-img roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/smile.svg" class="roundel"></img>
                <img src="/images/lumi-mouthwash.jpg"></img>
            </div>
            <figcaption>
                The range of mouthwashes, each design featuring droplets of the liquid.
            </figcaption>
        </div>

        <div class="row-3 small-right-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/lumi-logo.jpg"></img>
            </div>
            <figcaption>
                The Lumi logo.
            </figcaption>
        </div>

        <h5 class="row-4 quote">Stay fresh!</h5>

        <div class="row-5 small-left-img top-margin">
            <div class="picture-frame">
                <img src="/images/lumi-floss-inner.jpg"></img>
            </div>
            <figcaption>
                The plastic-free floss comes in a reusuable dispenser.
            </figcaption>
        </div>

        <div class="row-5 extra-large-right-img">
            <div class="picture-frame">
                <img src="/images/lumi-floss-outer.jpg"></img>
            </div>
            <figcaption>
                The outer packaging for the floss, featuring a tangle of the plastic-free string.
            </figcaption>
        </div>

        <div class="row-6 centre-img-large">
            <div class="picture-frame">
                <img src="/images/lumi-website.jpg"></img>
            </div>
            <figcaption>
                A mock-up of the product page of the website, with emphasis placed on the distinctive flavours of the products.
            </figcaption>
        </div>

        <div class="row-7 caption double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">talking to the <br>right people</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The target audience is Upper Gen-Z — young adults who are able to make their own
                            decisions about what and where to buy for the first time. With that in mind, I looked to
                            brands across health and beauty which have been really successful in engaging young
                            people.
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">talking to the <br>right people</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">I was particularly interested in the world of skincare. Led by
                            brands like <em>The Ordinary</em> and <em>Drunk Elephant</em>, we've seen a monumental
                            transformation in how
                            people engage with skincare brands — suddenly, consumers are encouraged to know and care
                            about ingredients lists and have an understanding of what different acids, retinols and
                            serums actually <em>do</em>. The world of dental care has yet to embrace this in a meaningful way,
                            instead being crowded with marketing-speak which doesn't actually appeal to the
                            audience.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-8 centre-img-large">
            <div class="picture-frame">
                <img src="/images/lumi-toothpaste-floss.jpg"></img>
            </div>
            <figcaption>
                Each of the products in the range has an illustration representing what's inside.
            </figcaption>
        </div>

        <table class="row-9 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">forming habits</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">In line with this idea of audience education comes the idea of routine. Ever more
                        complex skincare regimes and habits create a sense of control for the consumer and loyalty to the brand. We can do
                        the same with dental care. The <em>Lumi</em> product line is split into three ranges: Whiten, Protect and
                        Strong, each with unusual and distinctive flavours. Broken down into numbered products, the
                        audience can create a routine which becomes an important part of their day, morning and evening.
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="row-10 large-left-img">
            <div class="picture-frame">
                <img src="/images/lumi-toothpaste-inner.jpg"></img>
            </div>
            <figcaption>
                The toothpaste is contained in an uncoloured metal tube for a more premium feel.
            </figcaption>
        </div>

        <div class="row-10 medium-right-img-3 top-margin">
            <div class="picture-frame">
                <img src="/images/lumi-lettering.jpg"></img>
            </div>
            <figcaption>
                The lettering found on the toothpaste.
            </figcaption>
        </div>



        <div class="row-11 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>