<div class="page-intro">
    <h1 class="title">Who Killed Martin's Dream?</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">why is martin luthe rking jr's dream still a dream?</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>d&ad brief</td>
                <td>Writing / Photography / Typography / Book Design</td>
                <td>Anti-Racism / America</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-large">
            <div class="picture-frame">
                <img src="/images/martin-poster"></img>
            </div>
            <figcaption>A reminder that apathy isn't enough.
            </figcaption>
        </div>

        <div class="row-2 caption double-caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">anti-racism and statistics</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Systemic and institutionalised racism persists because the people with the power
                            to change it either don’t care enough or care very much about those systems staying in
                            place.

                            This campaign seeks to educate its audience about the very real effects of racism in society
                            — to make people feel uncomfortable in continuing their pattern of apathy when aware of
                            racial injustices.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">anti-racism and statistics</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The campaign uses the phrase ‘Who Killed Martin's Dream?' (referencing Martin
                            Luther King Jr's I Have a Dream speech) as an urgent and pressing slogan to emphasise how
                            the dreams of the civil rights era have been lost to a system which still oppresses people
                            of colour.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="row-3 quote">Crush white supremacy!</h5>

        <div class="row-4 centre-img-large">
            <div class="img">
                <div class="picture-frame">
                    <img src="/images/martin-closed-book"></img>
                </div>
                <figcaption>The front and back cover of the short book which examines statistics relating to the
                    position of Black people in the contemporary United States.
                </figcaption>
            </div>

        </div>

        <div class="row-5 caption double-caption">
            <table class="caption-table caption-4">
                <thead>
                    <tr>
                        <th class="main-head">the ten-point programme</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">With education at the heart of the campaign, finding new ways of understanding
                            complex data and socio-economic politics was crucial. A short book explores the current
                            position of Black Americans through the lens of the original ten-point programme of the
                            Black Panther Party published in the 1960s.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">the ten-point programme</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">In which ways have these demands for human rights been fulfilled? In which ways
                            have civil rights processes remained stagnant or even reverted since the mid-century?
                            Spoiler: not a huge amount has changed — in fact, not one of the original ten demands have
                            been fulfilled. With economic inequality deeply entrenched in American society, racial
                            equality is still desperately far away.


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row-6 centre-img-large">
            <div class="picture-frame">
                <img src="/images/martin-open-book.jpg"></img>
            </div>
            <figcaption>One of the inside spreads of the book, looking closer at institional racism in the American
                education system.
            </figcaption>
        </div>



        
        <div class="row-7 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>