<div class="page-intro">
    <h1 class="title title-more-leading">The Mixing Bowl.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">fighting food poverty with kitchens, cafés and mutual aid.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>D&AD Awards Brief</td>
                <td>Strategy / Branding / Copywriting</td>
                <td>Food Activism / Mutual Aid / Community</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-poster.jpg"></img>
            </div>
            <figcaption>A poster advertising the Mixing Bowl to newcomers.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">what is the mixing bowl?</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The Mixing Bowl is a community-run café, kitchen and garden concept which
                            provides those who need it with access to nutritious, tasty food and a communal space to
                            cook in, learn in and have fun in.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">what is the mixing bowl?</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The Trussell Trust have reported a 73% increase in food bank usage from 2014 to
                            2019, an increase that shows no sign of abating. I created this project informed by the
                            anger I felt about the levels of food poverty in the UK and how those who work tirelessly at
                            food banks seem to be fighting an increasingly losing battle.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-3 medium-left-img-2 top-margin roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/spatulas.svg" class="roundel-right"></img>
                <img src="/images/mixing-bowl-cover.jpg"></img>
            </div>
            <figcaption>I created a cookbook which introduces methods and recipes for cooking on a tight budget.
            </figcaption>
        </div>

        <div class="row-3 large-right-img">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-book-crop.jpg"></img>
            </div>
            <figcaption>As well as teaching the basics of cooking, it give tips for safely storing food and cooking with
                limited resources.
            </figcaption>
        </div>

        <h5 class="row-4 quote">30% of children in the UK grow up in poverty.</h5>

        <div class="row-5 centre-img-large">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-boxes.jpg"></img>
            </div>
            <figcaption>Donation collection boxes are sent to those who want to donate food or equipment — either as
                individuals or a business.
            </figcaption>
        </div>

        <table class="row-6 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">how to fix a broken system</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Examining the manifold problems associated with reliance on food banks, my research
                        centred on the failings of the current system and how new grassroots projects could help plug
                        the gaps left by the government.
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="row-7 numbered-caption-left caption-table">
            <thead>
                <tr>
                    <th class="main-head">the problem</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <b>One.</b><br>
                        There is a stigma attached to receiving help from food banks, with many people
                        feeling too ashamed to go. It is estimated that only 1 in 5 of those who have trouble accessing
                        food go to food banks for help. <br><br>

                        <b>Two.</b><br>
                        Almost all food provided is tinned or long life, which means that those who rely on food
                        banks receive no fresh food, such as fruit or vegetables. <br><br>

                        <b>Three.</b><br>
                        Emergency packages are tightly rationed and are often made up of the cheapest available
                        products, leading to diets which are high in sugar, fat and salt and low on the necessary
                        vitamins and minerals. <br><br>

                        <b>Four.</b><br>
                        Many who cannot afford to buy food also do not have access to gas or electricity, so are left
                        with raw, cold food which they have no way of cooking. <br><br>

                        <b>Five.</b><br>
                        Food bank users are routinely given a collection of food products with no advice on how best
                        to cook them, so are further unable to make best use of the food they have received.
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="row-7 numbered-caption-right caption-table">
            <thead>
                <tr>
                    <th class="main-head">the solution</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        It is clear that the solution to this nuanced, complex problem must be nuanced itself. It must
                        be:
                        <br><br>
                        <b>One.</b><br>
                        Multi-faceted: aimed at solving problems from a variety of angles. <br><br>

                        <b>Two.</b><br>
                        Grass-roots driven: fostering an active community can help provide solutions before political
                        change is implemented.<br><br>

                        <b>Three.</b><br>
                        Political: whilst grass-roots action is crucial, policy change from government is the only
                        thing which will fundamentally change food poverty.<br><br>

                        <b>Four.</b><br>
                        Sustainable: for lasting effect, it must provide food education and transferable skills.<br><br>

                        <b>Five.</b><br>
                        Accessible: it must be as easy as possible to access the services or to make donations.<br><br>

                        <b>Six.</b><br>
                        Community-focused: it must foster a positive community creating a humanising, rather than
                        degrading, process.<br><br>

                        <b>Seven.</b><br>
                        Focused on joy: an opposing force to the mental distress of struggling to access food, the
                        space must function as a place where food can be a source of happiness again.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-8 medium-left-img-2 roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/food-justice.svg" class="roundel-right"></img>
                <img src="/images/mixing-bowl-campaign.jpg"></img>
            </div>
            <figcaption>As part of the political campaign element of the project, I created letter templates people
                could use to contact MPs with a set of anti-food poverty demands.
            </figcaption>
        </div>

        <div class="row-8 large-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-letter.jpg"></img>
            </div>
            <figcaption>As well as campaign letters, I also created letters to send to local businesses requesting their
                support.
            </figcaption>
        </div>

        <table class="row-9 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">creating a community</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">The space is open and invites in those who need access to food and cooking
                        resources, those who want to support an organisation taking a stand against food poverty and
                        those who simply want a communal space in which to explore food.

                        This helps to create an active community where those who struggle with accessing food do not
                        feel demeaned and distanced from the rest of society.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-10 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-laptop.jpg"></img>
            </div>
            <figcaption>The website provides resources both for those who need support and those who are able to offer
                support.
            </figcaption>
        </div>

        <div class="row-10 large-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/mixing-bowl-recipes.jpg"></img>
            </div>
            <figcaption>Free recipe cards, with recipes sourced from the local community, are always available.
            </figcaption>
        </div>

        <div class="row-11 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">a nuanced approach to food equity
                        </th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The Mixing Bowl can provide access to fresh food, which can be grown in the
                            community gardens or donated and stored. Rather than existing separately to the local
                            community and waiting for donations, it uses an outreach programme to connect to businesses
                            and individuals who are able to make regular donations.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">a nuanced approach to food equity</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">By garnering the support of local food businesses, the Mixing Bowl can also
                            provide food education to its audience with interactive classes, joint cooking sessions and
                            literature to take home. The space also functions as a hub for political and social
                            activism, where people who often feel excluded from the political conversation can have
                            their voices heard. It has a multi-faceted approach which helps to combat many of the
                            interlinked problems people face when they are unable to access food.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        {{!-- THANKS AND BACK --}}
        <div class="row-12 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>