<div class="page-intro">
    <h1 class="title title-more-leading">NUNS.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">sisters with bad habits.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dutch Dame Production and She's Diverse</td>
                <td>Photo Editing / Digital Illustration / Branding</td>
                <td>Theatre / Marketing / Neon</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/nuns-poster-main.jpg"
                    alt="a poster of two nuns, lit by pink and purple neon lights"></img>
            </div>
            <figcaption>The duotone approach to the neon-lit portrait highlights the core differences between the two
                protaganists of the play.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">nuns, cigarettes and neon lights</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">I was approached to create the posters, programmes and further print and digital
                            marketing materials for NUNS, an exciting new production with an all-woman cast and
                            production team. Photographer <a href="https://www.elisedumontet.com/">Elise Dumontet</a>
                            provided me with beautiful photos of the cast
                            which I edited to create a coloured neon glow, reflecting the artificial light of the neon
                            illustrations that surround them.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">nuns, cigarettes and neon lights</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> I designed a selection of neon lights to be used throughout the marketing
                            material. I was particularly inspired by kitschy Catholic art and decor, alongside signage
                            for traditionally feminine spaces: nails salons and beauty parlours.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-3 medium-left-img roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/neon.svg" class="roundel"
                    alt="a roundel that reads 'neon queen, non-stop glow'"></img>
                <img src="/images/nuns-hands.jpg"
                    alt="two hands clasped together, one holding a cigarette and the other a crucifix necklace"></img>
            </div>
            <figcaption>The dark comedy features rebellious nuns fighting for their right to smoke breaks.
            </figcaption>
        </div>

        <div class="row-3 small-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/nuns-original.jpg" alt="the unedited photo of the nuns in neutral colours"></img>
            </div>
            <figcaption>The unedited photo before I created the neon lights and hot, vivid colouring,
            </figcaption>
        </div>

        <h5 class="row-4 quote">"Sister, we're just having a bit of fun!"</h5>


        {{!-- PHOTO GRID --}}

        <div class="row-5 photo-grid">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/nuns-neon-2.jpg" alt="a neon light of a hand with the fingers crossed"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/nuns-neon-4.jpg" alt="a neon light of a hand holding a rose"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/nuns-neon-1.jpg" alt="a neon light of a crucifix"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/nuns-neon-3.jpg" alt="a neon light of a pair of praying hands"></img>
                    </div>
                </div>

            </div>

        </div>

        <div class="row-6 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>