<div class="page-intro">
    <h1 class="title title-more-leading">Odyssey.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">grab your passport, we're going on a journey.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Odyssey Box</td>
                <td>Branding / Packaging / Website Design</td>
                <td>Lifestyle / Subscription / Haircare</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/odyssey-open-box.jpg"></img>
            </div>
            <figcaption>The box, with its black and gold colourway and branded tissue paper, is designed to feel
                luxurious.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">starting the odyssey</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Odyssey is a bespoke subscription box of natural hair products, all created by
                            Black-owned businesses, designed to guide the customer on their natural hair journey. Each
                            month, the customer receives four full-sized products curated by natural hair influencer
                            Chloé Elliott (<a href="https://www.instagram.com/curlygalchlo/">@curlygalchlo</a>).
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">starting the odyssey</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Many people in the natural hair community talk of their hair ‘journey’,
                            acknowledging the time, energy and commitment it can take to learn to look after natural
                            hair. We wanted to encapsulate this idea within the brand, by exploring visual motifs of
                            circumnavigation and postal communication.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-3 centre-img">
            <div class="picture-frame">
                <img src="/images/odyssey-homepage.jpg"></img>
            </div>
            <figcaption>The homepage of the website, which showcases the latest boxes and the products they contain.
            </figcaption>
        </div>

        <div class="row-4 centre-img roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/luxury.svg" class="roundel-right"></img>
                <img src="/images/odyssey-products.jpg"></img>
            </div>
            <figcaption>The products page of the website.
            </figcaption>
        </div>

        <table class="row-5 caption caption-table">
            <thead>
                <tr>
                    <th class="main-head">selling quality.</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">At £40 a month, the box is at a higher price point than some of its competitors. It
                        is therefore particularly important to ensure the design reflected quality. The roughened
                        details around the logo and illustrations are contrasted with slick, carefully set type and a
                        subtle colour scheme.

                        The website is designed with simplicity in mind. The box is showcased front and centre,
                        highlighting the quality of the product.
                    </td>
                </tr>
            </tbody>
        </table>

        <h5 class="row-6 quote">Some quote about Odyssey.</h5>

        <div class="row-7 large-left-img">
            <div class="picture-frame">
                <img src="/images/odyssey-mobile.jpg"></img>
            </div>
            <figcaption>The mobile-view of the website.
            </figcaption>
        </div>

        <div class="row-7 medium-right-img-3 top-margin">
            <div class="picture-frame">
                <img src="/images/odyssey-card-dark.jpg"></img>
            </div>
            <figcaption>Each box contains cards explaining the products, completed with handwritten elements and stamps.
            </figcaption>
        </div>


        <div class="row-8 centre-img-large roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/postman.svg" class="roundel"></img>
                <img src="/images/odyssey-stationary.jpg"></img>
            </div>
            <figcaption>As well as reaching customers, a key area of the business centres around communicating with
                other haircare businesses, so carefully considered stationary is a must.
            </figcaption>
        </div>

        <div class="row-9 centre-img">
            <div class="picture-frame">
                <img src="/images/odyssey-social-media.png"></img>
            </div>
            <figcaption>The social media strategy is key to the success of Odyssey, so I created a flexible social
                toolkit.
            </figcaption>
        </div>



        {{!-- THANKS AND BACK --}}
        <div class="row-10 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>