<div class="page-intro">
    <h1 class="title title-more-leading">The Page Turn</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">Creating an online space for book lovers.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Project</td>
                <td>Web Design, HTML, CSS, Branding</td>
                <td>Literature, Digital Design, Editorial</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-large">
            <div class="picture-frame">
                <img src="/images/page-turn-homepage-1.jpg"></img>
            </div>
            <figcaption>The homepage welcomes the user with essays, extracts and interviews with authors.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">down with goodreads!</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">I really love to read. I also love the whole world surrounding reading — criticism, interviews and essays about literature and sharing books with my community. I'm often left frustrated as Goodreads, the Goliath of the digital book community, often doesn't fulfil the needs of readers. Its UI is clunky and outdated, its recommendations are limited and most of its community features are so hidden away that they're not as utilised as they should be. 
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">down with goodreads!</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Inspired by my poor user experience, I designed what I would love in a book-focused website: an interesting, diverse array of essays, criticisms and interviews about literature, libraries curated by myself or people who interest me and a user experience built around a love of literature and the arts.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row-3 large-left-img top-margin">
            <div class="picture-frame">
                <video autoplay loop muted>
                    <source src="/images/page-turn-homepage.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>Elements overlap and then move out of the way of content on hover.
            </figcaption>
        </div>

        <div class="row-3 medium-right-img-3 roundel-img-right">
            <div class="picture-frame">
                <img src="/images/roundels/buy-books.svg" class="roundel-right"></img>
                <img src="/images/page-turn-brandon-1.jpg"></img>
            </div>
            <figcaption>Interviews and essays are laid out to be both easily legible and visually interesting. 
            </figcaption>
        </div>

        <h5 class="row-4 quote">What's your <br>favourite book?</h5>

        <div class="row-5 small-left-img">
            <div class="picture-frame">
                <img src="/images/page-turn-real-life-illustration.jpg"></img>
            </div>
            <figcaption>Illustrations based on the referenced books create a consistent, elegant style across the site. 
            </figcaption>
        </div>

        <div class="row-5 extra-large-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/page-turn-ocean-1.jpg"></img>
            </div>
            <figcaption>A review of Ocean Vuong's <em>On Earth We're Briefly Gorgeous</em>. If I was the reviewer, I would give it one million stars.
            </figcaption>
        </div>

        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">making the digital feel analogue</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">As I shaped the layout of the site, I layered and overlapped elements, which can sometimes change order to move in and out of the way of content. This feeling of layering connects the digital experience, in a subtle way, to the experience of leafing through papers and pages. 
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-7 centre-img-large">
            <div class="picture-frame">
                <video autoplay loop muted>
                    <source src="/images/page-turn-brandon.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>The overlapping layout of an interview.
            </figcaption>
        </div>



        <table class="row-8 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">Creating libraries</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Users can curate and follow libraries — lists of saved books. These can be used to
                        keep track of what they want to read and what they have read, whilst also giving them the
                        ability to link books together and discover new reads through genre and idea-curated lists.
                        Authors and contributors to the site create their own public libraries which users can follow
                        and save.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-9 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/page-turn-on-earth-illustration.jpg"></img>
            </div>
            <figcaption>An illustration inspired by <em>On Earth We're Briefly Gorgeous</em>.
            </figcaption>
        </div>

        <div class="row-9 large-right-img">
            <div class="picture-frame">
                <img src="/images/page-turn-libraries-1.jpg"></img>
            </div>
            <figcaption>The libraries homepage, broken into My Libraries, Following, new and highlighted libraries and author curated libraries.
            </figcaption>
        </div>

        <div class="row-10 centre-img-large">
            <div class="picture-frame">
                <video autoplay loop muted>
                    <source src="/images/page-turn-libraries.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>The horizontal scroll on the library blocks.
            </figcaption>
        </div>



        <table class="row-11 caption-table caption credit-box">
            <thead>
                <tr>
                    <th class="main-head">photo credit to:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">William J Adams, Maksim Goncharenok, Ketut Subiyanto, RF Studio, Wherbson Rodrigues and Amusan.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-12 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>