<div class="page-intro">
    <h1 class="title title-more-leading">Recipes I <br>Have Found.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">an ode to recipes scrawled on scraps of paper</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>University Project</td>
                <td>Book design, illustration, photography</td>
                <td>Food / travel / history</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/sally-clarke-cover.jpg"></img>
            </div>
            <figcaption>The front cover of the book is designed as a contemporary take on Victorian illustrated book
                covers.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Cooking is a practice which often relies heavily on passing on recipes,
                            techniques and ideas from one person to the next. Old family recipe books are littered with
                            scrawled notes in the margins and recipes torn out of magazines stuffed between the pages.
                            Inspired by this notion, the forms the recipes in this cookbook take reflect their possible
                            imagined origin, connoting the process of travelling and picking up on ideas from many
                            different sources.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">let’s talk about food</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"> I examined Sally Clarke’s writing, noting the places she travelled to, the
                            origins of the dishes she created and her stories of collecting recipes from the strangers
                            she met all over the world. To reflect her stories, I designed the ingredient lists and
                            methods of each recipe to appear like found printed ephemera which are stuck, scrapbook-like
                            into the cookbook.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-3 centre-img-large roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/plantain.svg" class="roundel"></img>
                <img src="/images/sally-clarke-spreads.jpg"></img>
            </div>
            <figcaption>The front cover of the book is designed as a contemporary take on Victorian illustrated book
                covers.
            </figcaption>
        </div>

        <h5 class="row-4 quote">How did you learn how to cook?</h5>


        {{!-- PHOTO GRID --}}

        <div class="row-5 photo-grid">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-letter.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-tiki.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-book-page.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-stickers.jpg"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-stamps-pink.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-telegram.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-reciept.jpg"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/sally-clarke-stamps.jpg"></img>
                    </div>
                </div>

            </div>

        </div>



        <table class="row-6 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">discovering worlds in scraps</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">A letter from an imaginary Turkish hotel, a telegram sent overseas, stamps, stickers and tickets from far off places. Each piece tells a different story about the experiences and locations which helped to build the recipes. I curated folders and folders of images of historical design from across the world for this project, finding was to pay homage to different styles whilst creating a consistent voice with controlled colour palettes and type choices. 
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-7 small-left-img top-margin">
            <div class="picture-frame">
                <img src="/images/sally-clarke-tickets.jpg"></img>
            </div>
            <figcaption>The contents page is made up of travel tickets pointing readers to the right destination.
            </figcaption>
        </div>

        <div class="row-7 extra-large-right-img roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/plantain.svg" class="roundel"></img>
                <img src="/images/sally-clarke-collection.jpg"></img>
            </div>
            <figcaption>A selection of recipes, ingredient lists and decorative extras in the style of found ephemera
                from a variety of countries and times.
            </figcaption>
        </div>

        <table class="row-8 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">perception vs. culture</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Whilst some of the elements have more clear historical design influences than
                        others, they all have a sense of retro-inspired timelessness: being from somewhere in the past
                        which you can't quite place.

                        I was careful to spend time examining how design from different countries and time periods
                        <em>actually</em> appeared, rather than how I <em>thought</em> they might. This research phase, which continued
                        throughout the project, was incredibly informative and interesting. If there’s one thing I love
                        more than design, it’s design plus history.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-9 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>