<div class="page-intro">
    <h1 class="title title-more-leading">Help Us Out!</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">convincing students to do something really boring.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>client</td>
                <td>skills used</td>
                <td>key words</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The University of Sheffield</td>
                <td>Illustration / Digital and Print Campaign Creation</td>
                <td>Animation / Student Communication / Surveys</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img">
            <div class="picture-frame">
                <img src="/images/survey-a3.jpg"
                    alt="a poster that reads 'help us out' surrounded by little illustrated monsters"></img>
            </div>
            <figcaption>The little characters share their opinions as they work together.
            </figcaption>
        </div>

        <div class="row-2 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">help us help you</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">As part of The University of Sheffield’s wider goal to better involve students
                            in their educational experience, we wanted to gather student feedback on our work. No one
                            likes filling in surveys, so I focused on the feedback being crucial to helping give
                            participants a better university experience — help us help you.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">help us help you</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">The little characters all offer their feedback and work together to help to
                            build the campaign. The project encompassed print and digital, being displayed across campus
                            on plasma screens and over social media. All animation was provided by my co-worker <a
                                href="http://www.kieranbentley.com/"> Kieran
                                Bentley.</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{!-- PHOTO GRID --}}

        <div class="row-3 photo-grid">

            {{!-- LEFT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/roundels/scrub.svg" class="roundel" alt="a roundel that reads 'scrub'"></img>
                        <img src="/images/gifs/survey-1.gif" alt="a blue monster scrubbing a large L"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/survey-2.gif" alt="a red monster holding the top bar of a T"></img>
                    </div>
                </div>

            </div>

            {{!-- RIGHT COLUMN --}}
            <div class="photo-grid-column">

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/survey-3.gif" alt="a red monster scrubbing a large U"></img>
                    </div>
                </div>

                <div class="img">
                    <div class="picture-frame">
                        <img src="/images/gifs/survey-4.gif" alt="a blue monster pushing a wheelbarrow of cement"></img>
                    </div>
                </div>

            </div>

        </div>

        <div class="row-4 medium-left-img-2">
            <div class="picture-frame">
                <img src="/images/gifs/survey-portrait.gif" alt="an animated scene that reads 'help us out'"></img>
            </div>
            <figcaption>The animated versions filled digital screens across campus and on social media.
            </figcaption>
        </div>

        <div class="row-4 large-right-img top-margin">
            <div class="picture-frame">
                <img src="/images/gifs/survey-landscape.gif" alt="an animated scene of red monsters building"></img>
            </div>
            <figcaption>My favourite is the lil guy with the shovel and cement mixer.
            </figcaption>
        </div>

        {{!-- THANKS AND BACK --}}
        <div class="row-5 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>