<div class="page-intro">
    <h1 class="title title-more-leading">Voyage.</h1>

    <div class="title-seperator"></div>

    <h3 class="sub-heading">Where planning your trip is the most exciting bit.</h3>

    <table class="project-table">
        <thead>
            <tr>
                <td>project type</td>
                <td>skills used</td>
                <td>languages used</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Project</td>
                <td>Web Development, Web Design, Unit & Integration Testing</td>
                <td>JavaScript ES6, React.JS, SASS</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper">
    <div class="case-study">

        <div class="row-1 centre-img-large">
            <div class="picture-frame">
                <img src="/images/travel-homepage.jpg"
                    alt="the homepage features a large photo of an australian lake with the words 'lets go on an adventure'"></img>
            </div>
            <figcaption>The homepage welcomes the user with gently floating animated surfers.
            </figcaption>
        </div>

        <div class="row-2 view-live">
            <div class="view-live-button">
                <span><a href="https://voyage-travel-planner.herokuapp.com/">Explore live site</a></span>
            </div>
            <div class="github-button">
                <span><a href="https://github.com/ellamarke/travel-planner">View on GitHub</a></span>
            </div>
        </div>


        <div class="row-3 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">What to do about wanderlust</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">At the start of 2021, two things were happening: I was wanting to expand on my
                            front-end development skills and I was, for obvious pandemic-related reasons, dreaming a lot
                            about being able to travel again. In response, I created Voyage: a fully responsive travel
                            planning website created using React.JS that allows user to explore new places, get inspired
                            about travelling and save what they've learnt to return to later.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">What to do about wanderlust</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            I wanted to create something truly research-led, so I began developing the project using a
                            combination of user research, persona creation and competitor research. I discovered that
                            whilst there are plenty of holiday and travel-centric websites out there, they are often
                            dependent on the user knowing a lot upfront: where they want to go, when they want to go and
                            how long they'll be there for. What was lacking was a place that centred the experience of
                            finding inspiration and getting deep into the culture of a new place. Voyage isn't about the
                            logistics of travel — it's about the excitement and inspiration.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-4 extra-large-left-img top-margin">
            <div class="picture-frame">
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-austria.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>Users can search for a country and find descriptions, quick facts, articles and recommendations.
            </figcaption>
        </div>

        <div class="row-4 small-right-img-2 roundel-img-right">
            <div class="picture-frame">
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-discover-mobile.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>The mobile view of the Explore page, which guides the user to explore interesting new places.
            </figcaption>
        </div>

        <h5 class="row-5 quote">Come fly with me! Let's fly, let's fly away!</h5>

        <div class="row-6 small-left-img">
            <div class="picture-frame">
                <img src="/images/travel-tokyo-footer.jpg" alt="a screenshot of an article link on the website"></img>
            </div>
            <figcaption>Each place has highlighted spotlights and related articles so the user can get a real feel for
                the
                place.
            </figcaption>
        </div>

        <div class="row-6 extra-large-right-img top-margin">
            <div class="picture-frame">
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-jungles.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>If a user doesn't know where they want to go, they can explore curated pages and get inspired.
            </figcaption>
        </div>

        <div class="row-7 caption">
            <table class="caption-table caption-1">
                <thead>
                    <tr>
                        <th class="main-head">How does this thing work?</th>
                        <th class="number-head">one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Based on my research, I started to craft the website with a specific audience in
                            mind: younger travellers, aged 18-30, who want to travel for exciting and unique
                            experiences, led by an interest in new cultures. I therefore wanted to create features which
                            would centre the discovery of new cultures and allow the user to save everything that
                            interests them in one place.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centre">
                <div class="seperator seperator-1"></div>
            </div>

            <table class="caption-table caption-2">
                <thead>
                    <tr>
                        <th class="main-head">How does this thing work?</th>
                        <th class="number-head">two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            I started to plan out the features and structure, using <a
                                href="https://projects.invisionapp.com/freehand/document/2PrsKtgYo"
                                target=”_blank”>inVision</a> to
                            produce wireframes.
                            Users can discover new places a variety of ways: they can search for a place, find curated
                            lists of places based around a theme or discover through place pages and articles. Anything
                            they find, they can save and then access again in their profile. They can then make lists:
                            things to pack, things to see and other travel-related notes — all saved in one location.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row-8 centre-img-large roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/lets-fly.svg" class="roundel" alt="a roundel that reads 'let's fly'"></img>
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-place-carousel.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>Users can explore new places across the site and then save their favourites to their profile.
            </figcaption>
        </div>

        <table class="row-9 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">Now you're talking my language</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">I decided to use React to build the site. Its use of re-usable components and shared
                        state meant I could shape a fully interactive website that allowed users to read, explore, save
                        and keep track of their thoughts. To create content for the site, I used a mixture of
                        hardcoded elements and data from a combination of APIs to ensure that users
                        would be able to search for anywhere in the world and get something informative back.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-10 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-tokyo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>Each place page contains information in different forms, including live weather, links to
                related places and articles.
            </figcaption>
        </div>

        <div class="row-10 large-right-img">
            <div class="picture-frame">
                <img src="/images/travel-profile.jpg"
                    alt="a screenshot of the profile page, with the user's saved lists"></img>
            </div>
            <figcaption>The profile page contains the users' saved places, lists and articles. Users can create and edit
                their lists from here.
            </figcaption>
        </div>

        <div class="row-11 centre-img-large">
            <div class="picture-frame">
                <video playsinline autoplay loop muted>
                    <source src="/images/travel-my-places.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption>Viewing a user's saved places and then deleting cards they no longer want saved. Bye, Amazon!
            </figcaption>
        </div>

        <table class="row-12 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">Creating a visual language</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">The design was focused on creating an experience that was easy to navigate, but
                        still felt contemporary, original and full of personality. The visual language throughout the
                        site is inspired by airport signage — the boxed buttons with their simple direction-driven
                        iconography, the ticker tapes throughout the site and the geometric sans-serif typefaces.
                        Keeping to a very limited and carefully chosen colour palette allows the photography (sourced
                        using a mixture of my own photos and those found across stock sites) to shine. Subtle animation
                        with the ticker tapes and gentle moving of the surfers on the homepage hero image brings a sense
                        of fun and personality.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-13 medium-left-img-2 top-margin">
            <div class="picture-frame">
                <img src="/images/travel-mobile.jpg" alt="three mobile phones with screenshots of the website"></img>
            </div>
            <figcaption>Voyage is a fully reponsive site.
            </figcaption>
        </div>

        <div class="row-13 large-right-img">
            <div class="picture-frame">
                <img src="/images/travel-list.jpg" alt="a screenshot of the list view of the website"></img>
            </div>
            <figcaption>The user can easily create and edit lists, ticking off what they've already done and creating
                new items.
            </figcaption>
        </div>

        <table class="row-14 caption-table caption">
            <thead>
                <tr>
                    <th class="main-head">Testing makes perfect!</th>
                    <th class="number-head">one</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">I used a variety of testing methods to test and improve the site: I made use of
                        Cypress to perform integration tests, as well as performing unit tests using Jest and React
                        Testing Library.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row-15 thanks-back">
            <h4 class="thanks">Thanks for taking a look at this project!</h4>

            <div class="go-back centre">
                <p><a href="work">go back to view more of my work</a></p>
            </div>

        </div>

    </div>
</div>