<head>
    <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">

</head>
{{!-- PAGE INTRO --}}

<div class="page-intro no-padding">
    <h1 class="title">This is what <br> I can do.</h1>

    <h3 class="sub-heading">Rather than just talking the talk, here's me walking the walk.</h3>

    <div class="title-seperator"></div>
</div>

{{!-- MAIN CONTENT --}}

<div class="row" role="main">
    <div class="column">

        <div class="img work-voyage">
            <div class="picture-frame">
                <a href="voyage" class="images-rotation"
                    data-images='["/images/transform/voyage-1.jpg", "/images/transform/voyage-2.jpg", "/images/transform/voyage-3.jpg", "/images/transform/voyage-4.jpg", "/images/transform/voyage-5.jpg", "/images/transform/voyage-6.jpg", "/images/transform/voyage-7.jpg"]'>
                    <img src="/images/transform/voyage-1.jpg" id="img-1" alt="the voyage logo in mint green"></img>
                </a>
            </div>
        </div>

        <div class="img work-sally">
            <div class="picture-frame">
                <a href="sally-clarke" class="images-rotation"
                    data-images='["/images/cropped/sally-clarke-stamps.jpg", "/images/sally-clarke-stickers.jpg", "/images/sally-clarke-telegram.jpg", "/images/sally-clarke-tiki.jpg"]'>
                    <img src="/images/cropped/sally-clarke-stamps.jpg" id="img-1"
                        alt="two vintage look Turkish postage stamps"></img>
                </a>
            </div>
        </div>

        <div class="img work-capsicum">
            <div class="picture-frame">
                <a href="capsicum" class="images-rotation"
                    data-images='["/images/transform/capsicum-1.jpg", "/images/transform/capsicum-2.jpg", "/images/transform/capsicum-3.jpg", "/images/transform/capsicum-4.jpg", "/images/transform/capsicum-5.jpg", "/images/transform/capsicum-6.jpg"]'>
                    <img src="/images/transform/capsicum-1.jpg" id="img-1" alt="a pink tequila bottle"></img>
                </a>
            </div>
        </div>

        <div class="img work-lumi">
            <div class="picture-frame">
                <a href="lumi" class="images-rotation"
                    data-images='["/images/transform/lumi-1.jpg", "/images/transform/lumi-2.jpg", "/images/transform/lumi-3.jpg", "/images/transform/lumi-4.jpg", "/images/transform/lumi-5.jpg", "/images/transform/lumi-6.jpg"]'>
                    <img src="/images/transform/lumi-1.jpg" id="img-1" alt="three toothpaste tubes in a pile"></img>
                </a>
            </div>
        </div>

        <div class="img work-paradise">
            <div class="picture-frame">
                <a href="food-of-paradise" class="images-rotation"
                    data-images='["/images/transform/paradise-plantain-chips.jpg", "/images/transform/paradise-rice.jpg", "/images/transform/paradise-jar.jpg", "/images/transform/paradise-yassa.jpg", "/images/transform/paradise-sticker.jpg"]'>
                    <img src="/images/transform/paradise-plantain-chips.jpg" id="img-1"
                        alt="a packet of plantain chips"></img>
                </a>
            </div>
        </div>

        <div class="img work-mixing-bowl roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/cooking.svg" class="roundel"
                    alt="roundel that reads 'let's get cooking!'"></img>
                <a href="mixing-bowl" class="images-rotation"
                    data-images='["/images/mixing-bowl-book.jpg", "/images/transform/mixing-bowl-letter.jpg", "/images/transform/mixing-bowl-laptop.jpg", "/images/transform/mixing-bowl-poster.jpg"]'>
                    <img src="/images/mixing-bowl-book.jpg" id="img-1" alt="an open spread of a cookbook"></img>
                </a>
            </div>
        </div>

        <div class="img work-okra">
            <div class="picture-frame">
                <a href="okra" class="images-rotation"
                    data-images='["/images/okra-menu.jpg", "/images/transform/okra-bottle.jpg", "/images/transform/okra-letter.jpg", "/images/transform/okra-shirt.jpg", "/images/transform/okra-signage.jpg", "/images/transform/okra-notes.jpg"]'>
                    <img src="/images/okra-menu.jpg" id="img-1" alt="two restaurant menus on clipboards"></img>
                </a>
            </div>
        </div>

        <div class="img work-odyssey">
            <div class="picture-frame">
                <a href="odyssey" class="images-rotation"
                    data-images='["/images/odyssey-homepage.jpg", "/images/transform/odyssey-box.jpg", "/images/transform/odyssey-mobile.jpg", "/images/transform/odyssey-products.jpg", "/images/transform/odyssey-stationary.jpg"]'>
                    <img src="/images/odyssey-homepage.jpg" id="img-1" alt="the odyssey website homepage"></img>
                </a>
            </div>
        </div>

        <div class="img work-1984">
            <div class="picture-frame">
                <a href="1984" class="images-rotation"
                    data-images='["/images/1984-texture-1.jpg", "/images/1984-texture-2.jpg", "/images/1984-texture-3.jpg"]'>
                    <img src="/images/1984-texture-1.jpg" id="img-1"
                        alt="a blue posters featuring the repeated text 'big brother is good'"></img>
                </a>
            </div>
        </div>

        <div class="img work-gifs">
            <div class="picture-frame">
                <a href="gif-suite" class="images-rotation"
                    data-images='["/images/gif-suite-square.jpg", "/images/transform/gif-1.jpg", "/images/transform/gif-2.jpg", "/images/transform/gif-3.jpg", "/images/transform/gif-4.jpg", "/images/transform/gif-5.jpg", "/images/transform/gif-6.jpg"]'>
                    <img src="/images/gif-suite-square.jpg" id="img-1"
                        alt="a collage of university themed stickers"></img>
                </a>
            </div>
        </div>

    </div>



    <div class="column">

        <div class="img work-nuns roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/neon-cigarettes.svg" class="roundel-right"
                    alt="roundel that reads 'neon lights and cigarettes'"></img>
                <a href="nuns" class="images-rotation"
                    data-images='["/images/nuns-poster-main.jpg", "/images/transform/nuns-hands.jpg", "/images/transform/nuns-cross.jpg", "/images/transform/nuns-pray.jpg", "/images/transform/nuns-rose.jpg"]'>
                    <img src="/images/nuns-poster-main.jpg" id="img-1"
                        alt="a poster of two nuns lit by pink and purple neon lights"></img>
                </a>
            </div>
        </div>

        <div class="img work-page-turn">
            <div class="picture-frame">
                <a href="page-turn" class="images-rotation"
                    data-images='["/images/transform/page-turn-1.jpg", "/images/transform/page-turn-2.jpg", "/images/transform/page-turn-3.jpg", "/images/transform/page-turn-4.jpg", "/images/transform/page-turn-5.jpg", "/images/transform/page-turn-6.jpg"]'>
                    <img src="/images/transform/page-turn-1.jpg" id="img-1" alt="two people almost hold hands"></img>
                </a>
            </div>
        </div>


        <div class="img work-racism">
            <div class="picture-frame">
                <a href="anti-racism" class="images-rotation"
                    data-images='["/images/racism-square.jpg", "/images/transform/racism-tv.jpg", "/images/transform/racism-infographic.jpg", "/images/transform/racism-characters.jpg", "/images/transform/racism-blackface.jpg", "/images/transform/racism-stereotypes.jpg"]'>
                    <img src="/images/racism-square.jpg" id="img-1"
                        alt="the illustrated people under the headline 'tackling racism'"></img>
                </a>
            </div>
        </div>

        <div class="img work-brains">
            <div class="picture-frame">
                <a href="brains" class="images-rotation"
                    data-images='["/images/transform/brains-6.jpg", "/images/transform/brains-1.jpg", "/images/transform/brains-2.jpg", "/images/transform/brains-3.jpg", "/images/transform/brains-4.jpg", "/images/transform/brains-5.jpg"]'>
                    <img src="/images/transform/brains-6.jpg" id="img-1"
                        alt="a happy illustrated cloud under the headline 'sunny days ahead'"></img>
                </a>
            </div>
        </div>

        <div class="img work-student-survey">
            <div class="picture-frame">
                <a href="student-survey" class="images-rotation"
                    data-images='["/images/survey-portrait.jpg", "/images/transform/survey-1.jpg", "/images/transform/survey-2.jpg", "/images/transform/survey-3.jpg"]'>
                    <img src="/images/survey-portrait.jpg" id="img-1"
                        alt="a poster that reads 'help us out' covered in red and blue illustrated monsters"></img>
                </a>
            </div>
        </div>

        <div class="img work-leica roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/yes-green.svg" class="roundel-right" alt="roundel that reads 'yes'"></img>
                <a href="leica" class="images-rotation"
                    data-images='["/images/leica-vertical.jpg", "/images/transform/leica-2.jpg", "/images/transform/leica-3.jpg"]'>
                    <img src="/images/leica-vertical.jpg" id="img-1"
                        alt="a collage of couple kissing surrounded by annotated labels about size and angles"></img>
                </a>
            </div>
        </div>

        <div class="img work-bike">
            <div class="picture-frame">
                <a href="bike-theft" class="images-rotation"
                    data-images='["/images/bike-neon-8.png", "/images/bike-neon-6.png", "/images/bike-neon-5.png", "/images/bike-neon-4.png", "/images/bike-neon-3.png", "/images/bike-neon-1.png"]'>
                    <img src="/images/bike-neon-8.png" id="img-1" alt="a neon sign reading 'free bike'"></img>
                </a>
            </div>
        </div>

        <div class="img work-martins-dream">
            <div class="picture-frame">
                <a href="martins-dream" class="images-rotation"
                    data-images='["/images/martin-open-book.jpg", "/images/transform/martin-poster.jpg", "/images/transform/martin-book.jpg"]'>
                    <img src="/images/martin-open-book.jpg" id="img-1"
                        alt="an open spread of a book featuring a bar chart made of dead flower petals"></img>
                </a>
            </div>
        </div>

    </div>

</div>

<hr>


{{!-- PLAY SECTION --}}

<div class="work-sub-heading">
    <h6>Sometimes, <br> I just like to play.</h6>
</div>

<div class="row play-grid">
    <div class="column">


        <div class="work-small-caption small-caption">
            <p>These aren’t full case studies, just other projects and Work in Progresses I’ve been working on.
            </p>
        </div>

        <div class="img work-meal-planning">
            <div class="picture-frame">
                <img src="/images/meal-planning.jpg"
                    alt="the homepage of a meal planning website featuring photos of meals in weekday order"></img>
            </div>
            <figcaption>All food photography sourced from bonappetit.com
            </figcaption>
        </div>

        <div class="img work-peau">
            <div class="picture-frame">
                <img src="/images/peau.jpg" alt="two phones featuring screenshots of a skincare product website"></img>
            </div>
        </div>



    </div>

    <div class="column">
        <div class="img work-art-class">
            <div class="picture-frame">
                <img src="/images/art-class.jpg"
                    alt="the phones featuring screenshots of a website for booking art classes"></img>
            </div>
        </div>

        <div class="img work-culture-book">
            <div class="picture-frame">
                <img src="/images/the-culture-book.gif"
                    alt="a travel website featuring a photo of Beijing and the words 'fly away'"></img>
            </div>
        </div>



    </div>

</div>