<head>
    <link rel="stylesheet" href="https://use.typekit.net/rwq8aci.css">

</head>
{{!-- PAGE INTRO --}}

<div class="page-intro">
    <h1 class="title">This is what <br> I can do.</h1>

    <h3 class="sub-heading">statement about me and my work goes here!</h3>

    <div class="title-seperator"></div>
</div>

{{!-- MAIN CONTENT --}}

<div class="row">
    <div class="column">

        <div class="img work-sally">
            <div class="picture-frame">
                <a href="/sally-clarke"><img src="/images/cropped/sally-clarke-stamps.jpg"></img></a>
            </div>
        </div>

        <div class="img work-paradise">
            <div class="picture-frame">
                <a href="/food-of-paradise"><img src="/images/paradise-rice-packaging.jpg"></img></a>
            </div>
        </div>



        <div class="img work-mixing-bowl roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/yes.svg" class="roundel"></img>
                <a href="/mixing-bowl"><img src="/images/mixing-bowl-book.jpg"></img></a>
            </div>
        </div>


        <div class="img work-okra">
            <div class="picture-frame">
                <a href="/okra"><img src="/images/okra-menu.jpg"></img></a>
            </div>
        </div>


        <div class="img work-odyssey">
            <div class="picture-frame">
                <a href="/odyssey"><img src="/images/odyssey-homepage.jpg"></img></a>
            </div>
        </div>

        <div class="img work-1984">
            <div class="picture-frame">
                <a href="/1984"><img src="/images/1984-poster.jpg"></img></a>
            </div>
        </div>

        <div class="img work-gifs">
            <div class="picture-frame">
                <a href="/gifs"><img src="/images/gif-suite-square.jpg"></img></a>
            </div>
        </div>

        <div class="img work-abeo">
            <div class="picture-frame">
                <a href="/abeo"><img src="/images/abeo-newspaper-1.jpg"></img></a>
            </div>
        </div>

    </div>



    <div class="column">

        <div class="img work-nuns roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/yes.svg" class="roundel-right"></img>
                <a href="/nuns"><img src="/images/nuns-poster-main.jpg"></img></a>
            </div>
        </div>

        <div class="img work-racism">
            <div class="picture-frame">
                <a href="/anti-racism"><img src="/images/racism-square.jpg"></img></a>
            </div>
        </div>

        <div class="img work-student-survey">
            <div class="picture-frame">
                <a href="/student-survey"><img src="/images/survey-portrait.jpg"></img></a>
            </div>
        </div>

        <div class="img work-leica">
            <div class="picture-frame">
                <a href="/leica"><img src="/images/leica-main.jpg"></img></a>
            </div>
        </div>


        <div class="img work-brains roundel-img">
            <div class="picture-frame">
                <img src="/images/roundels/yes.svg" class="roundel"></img>
                <a href="/brains"><img src="/images/brains-stand-in.png"></img></a>
            </div>
        </div>


        <div class="img work-bike">
            <div class="picture-frame">
                <a href="/bike-theft"><img src="/images/bike-neon-8.png"></img></a>
            </div>
        </div>



        <div class="img work-martins-dream">
            <div class="picture-frame">
                <a href="/martins-dream"><img src="/images/martin-open-book.jpg"></img></a>
            </div>
        </div>




    </div>

</div>

<hr>


{{!-- PLAY SECTION --}}

<div class="work-sub-heading">
    <h6>Sometimes, <br> I just like to play.</h6>
</div>

<div class="row">
    <div class="column">


        <div class="work-small-caption small-caption">
            <p>These aren’t full case studies, just other projects and Work in Progresses I’ve been playing with.
            </p>
        </div>

        <div class="img work-meal-planning">
            <div class="picture-frame">
                <img src="/images/meal-planning.jpg"></img>
            </div>
        </div>

        <div class="img work-peau">
            <div class="picture-frame">
                <img src="/images/peau.jpg"></img>
            </div>
        </div>



    </div>

    <div class="column">
        <div class="img work-art-class">
            <div class="picture-frame">
                <img src="/images/art-class.jpg"></img>
            </div>
        </div>

        <div class="img work-culture-book">
            <div class="picture-frame">
                <img src="/images/the-culture-book.gif"></img>
            </div>
        </div>

        

    </div>

</div>