@font-face {
  font-family: 'made_miragethin';
  src: url("/fonts/made_mirage_thin-webfont.woff2") format("woff2"), url("/fonts/made_mirage_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* || colour variables */
/* main colour borders */
.content {
  border-right: solid 10px #e698c0; }

.content-menu {
  border-left: solid 10px #80bfc2; }

/* || colours */
body {
  color: #353532;
  background-color: #ebd5c4;
  margin: 0; }

/* || fonts */
p {
  font: 18px "degular", Helvetica, Arial, sans-serif;
  line-height: 1.2; }

h1 {
  font: 120px "made_miragethin", Georgia, serif;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 0.9; }

h2,
.ticker-tape {
  font: 20px "wedding-gothic-atf";
  text-transform: lowercase; }

h3 {
  font: 30px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 1px; }

h4 {
  font: 50px "made_miragethin", Georgia, serif;
  letter-spacing: 150;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

h5 {
  font: 100px "made_miragethin", Georgia, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.1; }

/* ticker tape */
.ticker-tape {
  white-space: nowrap;
  border-bottom: solid 1px #353532;
  padding-bottom: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  margin-top: 10px; }

/* project table */
.project-table {
  max-width: 80%;
  border-collapse: collapse; }
  .project-table thead {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf"; }
  .project-table tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif; }
  .project-table td {
    border: 1px solid;
    padding: 10px 20px; }

/* caption table */
.caption-table {
  max-width: 80%;
  border-collapse: collapse; }
  .caption-table .main-head {
    text-transform: uppercase;
    font: 25px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid; }
  .caption-table .number-head {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf";
    border: 1px solid; }
  .caption-table tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
    line-height: 1.5; }
  .caption-table td,
  .caption-table th {
    border: 1px solid;
    padding: 10px 20px; }

/* page intro */
.page-intro {
  padding-bottom: 60px; }
  .page-intro h1,
  .page-intro h3,
  .page-intro table,
  .page-intro .subheading,
  .page-intro .title-seperator {
    align-self: center; }

.seperator {
  border-left: 1px solid;
  height: 100px; }

/* images */
.picture-frame {
  border: solid 1px;
  padding: 0.5em;
  box-sizing: border-box; }
  .picture-frame img {
    width: 100%; }

figcaption {
  font: 14px "degular", Helvetica, Arial, sans-serif;
  margin-top: 10px; }

/* || case-study */
.case-study {
  background-color: #fff2eb;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 1px; }

.go-back {
  font: 20px "wedding-gothic-atf"; }
  .go-back p {
    border: solid 1px;
    background-color: #f79b83;
    font: inherit;
    padding: 5px; }

/* || header */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  font-family: "degular";
  font-size: 20px;
  font-weight: 200;
  font-style: normal; }
  .navigation li:last-of-type a {
    border-right: solid 1px; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    border-left: solid 1px;
    border-right: none;
    border-bottom: solid 1px;
    padding: 10px 40px 10px 40px; }
  .navigation .menu-home a:hover {
    background: #80bfc2; }
  .navigation .menu-work a:hover {
    background: #e698c0; }
  .navigation .menu-about a:hover {
    background: #9ace9f; }
  .navigation .menu-contact a:hover {
    background: #f79b83; }
  .navigation a:visited {
    color: #353532; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0; }
    .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navigation li:last-of-type a {
      border-bottom: none; } }

/* footer */
.footer {
  border-top: solid 1px; }
  .footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-family: "degular";
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 30px; }
    .footer ul li:last-of-type a {
      border-right: solid 1px; }
    .footer ul a {
      text-decoration: none;
      display: block;
      padding: 1em;
      border-left: solid 1px;
      border-right: none;
      border-bottom: solid 1px;
      border-top: solid 1px;
      padding: 10px 40px 10px 40px; }
  .footer .designed-by {
    font: 15px "wedding-gothic-atf";
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .footer .designed-by p {
      border: solid 1px;
      background-color: #e698c0;
      font: inherit;
      padding: 5px 40px; }

/* Grid Test */
.case-study {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  grid-template-rows: auto; }

.img-1 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 10; }

.double-caption {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 10; }

/*
.caption-1 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 10;
}


.seperator-1 {
  grid-row-start: 3;
  grid-column-start: 7;

}

.caption-2 {
  grid-row-start: 4;
  grid-column-start: 5;
  grid-column-end: 10;
}
*/
.quote-1 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 11; }

.img-2 {
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 7; }

.img-3 {
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 11;
  margin-top: 400px; }

.caption-3 {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-column-end: 10; }

.img-4 {
  grid-row-start: 6;
  grid-column-start: 4;
  grid-column-end: 10; }

.img-5 {
  grid-row-start: 7;
  grid-column-start: 2;
  grid-column-end: 5; }

.img-6 {
  grid-row-start: 7;
  grid-column-start: 6;
  grid-column-end: 11;
  margin-top: 200px; }

.thanks {
  grid-row-start: 8;
  grid-column-start: 3;
  grid-column-end: 11; }

.go-back {
  grid-row-start: 9;
  grid-column-start: 4;
  grid-column-end: 10;
  text-align: center; }
