@font-face {
  font-family: 'made_miragethin';
  src: url("/fonts/made_mirage_thin-webfont.woff2") format("woff2"), url("/fonts/made_mirage_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* || colour variables */
body {
  color: #353532;
  background-color: #ebd5c4;
  margin: 0; }

/* || LINKS */
td a {
  font-weight: 600; }

td a:hover {
  color: #f79b83; }

/* || fonts */
p {
  font: 18px "degular", Helvetica, Arial, sans-serif;
  line-height: 1.2; }

figcaption {
  font: 14px "degular", Helvetica, Arial, sans-serif;
  margin-top: 10px; }

/* PAGE TITLES */
h1 {
  font: 120px "made_miragethin", Georgia, serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 0.9; }

.title-more-leading {
  line-height: 1.1; }

/* TICKER TAPE */
h2,
.ticker-tape {
  font: 17px "wedding-gothic-atf";
  text-transform: lowercase; }

/* PAGE TITLE SUB-HEAD */
h3 {
  font: 30px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* THANKS BACK */
h4 {
  font: 50px "made_miragethin", Georgia, serif;
  letter-spacing: 150;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

/* QUOTE */
h5 {
  font: 100px "made_miragethin", Georgia, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.1; }

h6 {
  font: 50px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 0.03em; }

/* text highlight */
::selection {
  background: #f79b83; }

::-moz-selection {
  background: #f79b83;
  /* Gecko Browsers */ }

/* main colour borders */
.content {
  border-right: solid 10px #e698c0; }

.content-menu {
  border-left: solid 10px #80bfc2; }

.content-menu.contact {
  border-left-color: #f79b83; }

.content.contact {
  border-right-color: #9ace9f; }

.content-menu.about {
  border-left-color: #9ace9f; }

.content.about {
  border-right-color: #80bfc2; }

.content-menu.work {
  border-left-color: #e698c0; }

.content.work {
  border-right-color: #f79b83; }

.content-menu.home {
  border-left-color: #80bfc2; }

.content.home {
  border-right-color: #e698c0; }

/* caption table */
.caption-table {
  border-collapse: collapse; }
  .caption-table .main-head {
    text-transform: uppercase;
    font: 25px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid; }
  .caption-table .number-head {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf";
    border: 1px solid; }
  .caption-table tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
    line-height: 1.5; }
  .caption-table td,
  .caption-table th {
    border: 1px solid;
    padding: 10px 20px; }

/* captions */
.small-caption p {
  border: solid 1px;
  padding: 5%; }

.special-caption {
  font: 15px "wedding-gothic-atf"; }
  .special-caption span {
    border: solid 1px;
    background-color: #e698c0;
    font: inherit;
    padding: 5px 30px;
    margin-bottom: 40px; }

/* page intro */
.page-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px; }
  .page-intro h1,
  .page-intro h3,
  .page-intro table,
  .page-intro .title-seperator {
    align-self: center; }

.title-seperator {
  border-left: 1px solid;
  height: 100px; }

.sub-heading {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px; }

/* images */
.picture-frame {
  border: solid 1px;
  padding: 0.5em;
  box-sizing: border-box;
  position: relative; }
  .picture-frame img {
    width: 100%; }
  .picture-frame img.roundel, .picture-frame img.roundel-right {
    width: 8em; }

.portrait {
  border: solid 1px;
  padding: 0.5em;
  box-sizing: border-box;
  border-top-left-radius: 47%;
  border-top-right-radius: 47%; }
  .portrait img {
    width: 100%; }

/* ROUNDELS */
/* codexworld.com/how-to/position-place-image-over-image-css/
https://flaviocopes.com/css-animations/#:~:text=An%20animation%20is%20applied%20to%20an%20element%20using%20the%20animation%20property.&text=spin%20is%20the%20name%20of,and%20to%20repeat%20it%20infinitely. */
/* Left side roundel */
.roundel {
  position: absolute;
  top: -4em;
  left: -4em;
  width: 8em;
  animation: spin 10s linear infinite; }

@keyframes spin {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }

/* Right side roundel */
.roundel-right {
  position: absolute;
  top: -4em;
  right: -4em;
  width: 8em;
  animation: spin 10s linear infinite; }

/* Horizontal Rule */
hr {
  border: none;
  height: 1px;
  background: #353532; }

/* General seperator */
.seperator {
  border-left: 1px solid;
  height: 100px; }

.centre {
  display: flex;
  flex-direction: column; }
  .centre div {
    align-self: center; }

@font-face {
  font-family: 'made_miragethin';
  src: url("/fonts/made_mirage_thin-webfont.woff2") format("woff2"), url("/fonts/made_mirage_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* || colour variables */
body {
  color: #353532;
  background-color: #ebd5c4;
  margin: 0; }

/* || LINKS */
td a {
  font-weight: 600; }

td a:hover {
  color: #f79b83; }

/* || fonts */
p {
  font: 18px "degular", Helvetica, Arial, sans-serif;
  line-height: 1.2; }

figcaption {
  font: 14px "degular", Helvetica, Arial, sans-serif;
  margin-top: 10px; }

/* PAGE TITLES */
h1 {
  font: 120px "made_miragethin", Georgia, serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 0.9; }

.title-more-leading {
  line-height: 1.1; }

/* TICKER TAPE */
h2,
.ticker-tape {
  font: 17px "wedding-gothic-atf";
  text-transform: lowercase; }

/* PAGE TITLE SUB-HEAD */
h3 {
  font: 30px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* THANKS BACK */
h4 {
  font: 50px "made_miragethin", Georgia, serif;
  letter-spacing: 150;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

/* QUOTE */
h5 {
  font: 100px "made_miragethin", Georgia, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.1; }

h6 {
  font: 50px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 0.03em; }

/* ticker tape */
/* animation adapted from https://omsom.com/ */
.ticker-parent .ticker-tape {
  white-space: nowrap;
  border-bottom: solid 1px #353532;
  padding-bottom: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  margin-top: 10px; }
  .ticker-parent .ticker-tape .ticker-list {
    animation: ticker 20s infinite linear; }

@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

/* || header */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-inline-start: 0px;
  list-style: none;
  margin: 0;
  font-family: "degular";
  font-size: 20px;
  font-weight: 500;
  font-style: normal; }
  .navigation li:last-of-type a {
    border-right: solid 1px; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    border-left: solid 1px;
    border-right: none;
    border-bottom: solid 1px;
    padding: 10px 40px 10px 40px; }
  .navigation .menu-home a:hover, .navigation .menu-home a.active {
    background: #80bfc2; }
  .navigation .menu-work a:hover, .navigation .menu-work a.active {
    background: #e698c0; }
  .navigation .menu-about a:hover, .navigation .menu-about a.active {
    background: #9ace9f; }
  .navigation .menu-contact a:hover, .navigation .menu-contact a.active {
    background: #f79b83; }
  .navigation a:visited {
    color: #353532; }

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: nowrap; }
    .navigation li {
      flex: 1 auto; }
      .navigation li a {
        padding: 10px 0;
        text-align: center; }
  .content {
    border-left: solid 10px #80bfc2; }
  .content.contact {
    border-left-color: #f79b83; }
  .content.about {
    border-left-color: #9ace9f; }
  .content.work {
    border-left-color: #e698c0; }
  .content.home {
    border-left-color: #80bfc2; }
  .content-menu {
    border-left: none; } }

/* footer */
.footer {
  border-top: solid 1px; }
  .footer .lets-talk {
    margin-top: 30px; }
  .footer .footer-roundel {
    position: absolute;
    top: -85%;
    left: 72%;
    width: 6em;
    animation: spin 10s linear infinite; }
  .footer .contact-table {
    position: relative; }
  .footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 30px;
    font-family: "degular";
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 30px; }
    .footer ul li:last-of-type a {
      border-right: solid 1px; }
    .footer ul a {
      text-decoration: none;
      display: block;
      padding: 1em;
      border-left: solid 1px;
      border-right: none;
      border-bottom: solid 1px;
      border-top: solid 1px;
      padding: 10px 35px 10px 35px;
      color: #353532; }
    .footer ul .lets-talk {
      text-align: left; }
    .footer ul .mail a:hover {
      background: #80bfc2; }
    .footer ul .instagram a:hover {
      background: #f79b83; }
    .footer ul .linkedin a:hover {
      background: #9ace9f; }
  .footer .designed-by {
    font: 15px "wedding-gothic-atf";
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .footer .designed-by p {
      border: solid 1px;
      background-color: #e698c0;
      font: inherit;
      padding: 5px 30px;
      margin-bottom: 40px; }

a {
  color: #353532;
  text-decoration: none; }

.page-intro .title {
  margin-top: 50px; }

/* project table */
.project-table {
  max-width: 80%;
  border-collapse: collapse; }
  .project-table thead {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf"; }
  .project-table tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif; }
  .project-table td {
    border: 1px solid;
    padding: 10px 20px;
    padding: 10px; }

/* || case-study */
.case-study {
  background-color: #fff2eb;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 1px; }

.go-back {
  font: 18px "wedding-gothic-atf"; }
  .go-back p {
    border: solid 1px;
    background-color: #f79b83;
    font: inherit;
    padding: 5px; }

.go-back:hover P {
  background-color: #9ace9f; }

/* case study grid */
.case-study {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  grid-template-rows: auto; }

.img-1 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 10; }

.img-1-large {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 11; }

.double-caption-1 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 9; }

.seperator-1 {
  border-left: 1px solid;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px; }

.quote-1 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 11; }

.img-2 {
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 7;
  position: relative; }

.img-3 {
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 11;
  margin-top: 400px; }

.caption-3 {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-column-end: 9; }

.img-4 {
  grid-row-start: 6;
  grid-column-start: 4;
  grid-column-end: 10;
  position: relative; }

.double-caption-2 {
  grid-row-start: 7;
  grid-column-start: 5;
  grid-column-end: 9; }

.img-5 {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 5; }

.img-6 {
  grid-row-start: 8;
  grid-column-start: 6;
  grid-column-end: 11;
  margin-top: 200px; }

.caption-4 {
  grid-row-start: 9;
  grid-column-start: 5;
  grid-column-end: 9; }

.thanks-back {
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column; }

.go-back {
  align-self: center; }
  .go-back p {
    padding: 5px 30px; }

/* || ROWS */
.row-1 {
  grid-row-start: 1; }

.row-2 {
  grid-row-start: 2; }

.row-3 {
  grid-row-start: 3; }

.row-4 {
  grid-row-start: 4; }

.row-5 {
  grid-row-start: 5; }

.row-6 {
  grid-row-start: 6; }

.row-7 {
  grid-row-start: 7; }

.row-8 {
  grid-row-start: 8; }

.row-9 {
  grid-row-start: 9; }

.row-10 {
  grid-row-start: 10; }

/* || CONTENT TYPES */
/* images */
.centre-img {
  grid-column-start: 4;
  grid-column-end: 10; }

.centre-img-large {
  grid-column-start: 3;
  grid-column-end: 11; }

.small-right-img {
  grid-column-start: 8;
  grid-column-end: 11; }

.medium-right-img {
  grid-column-start: 6;
  grid-column-end: 10; }

.medium-right-img-2 {
  grid-column-start: 7;
  grid-column-end: 11; }

.medium-right-img-3 {
  grid-column-start: 8;
  grid-column-end: 12; }

.large-right-img {
  grid-column-start: 7;
  grid-column-end: 12; }

.extra-large-right-img {
  grid-column-start: 6;
  grid-column-end: 12; }

.small-left-img {
  grid-column-start: 2;
  grid-column-end: 5; }

.medium-left-img {
  grid-column-start: 3;
  grid-column-end: 7; }

.medium-left-img-2 {
  grid-column-start: 2;
  grid-column-end: 6; }

.large-left-img {
  grid-column-start: 2;
  grid-column-end: 7; }

.top-margin {
  margin-top: 20%; }

.top-margin-large {
  margin-top: 40%; }

.bottom-margin {
  margin-bottom: 100px; }

/* text */
.caption {
  grid-column-start: 5;
  grid-column-end: 9; }

.quote {
  grid-column-start: 3;
  grid-column-end: 11; }

.numbered-caption-left {
  grid-column-start: 2;
  grid-column-end: 6; }

.numbered-caption-right {
  grid-column-start: 8;
  grid-column-end: 12; }

/* photo grid */
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%; }

.photo-grid-column {
  max-width: 46%;
  padding: 0 2%; }

.photo-grid-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%; }

.photo-grid-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-column {
    flex: 100%;
    max-width: 100%; } }

/* photo grid */
.photo-grid-4-col {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%; }

.photo-grid-4-col-column {
  max-width: 21%;
  padding: 0 2%; }
  .photo-grid-4-col-column .picture-frame {
    border: none; }

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%; }

.photo-grid-4-col-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column {
    flex: 100%;
    max-width: 100%; } }

/* photo grid */
.photo-grid-4-col-borders {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%; }

.photo-grid-4-col-column-borders {
  max-width: 21%;
  padding: 0 2%; }

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%; }

.photo-grid-4-col-column-borders .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column-borders {
    flex: 100%;
    max-width: 100%; } }

a {
  color: #353532;
  text-decoration: none; }

.page-intro .title {
  margin-top: 50px; }

/* main grid */
.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  grid-template-rows: auto; }

.home-caption-1 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column-end: 9; }

.home-img-1 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 6; }

.home-img-2 {
  grid-row-start: 2;
  grid-column-start: 7;
  grid-column-end: 12;
  position: relative;
  margin-top: 20%; }

.home-caption-2 {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-column-end: 9; }

.home-img-3 {
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 12;
  position: relative; }

.home-img-4 {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 7;
  position: relative;
  margin-top: 20%; }

.home-img-5 {
  grid-row-start: 5;
  grid-column-start: 7;
  grid-column-end: 12;
  margin-top: 30%; }

.home-img-6 {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 6; }

.home-caption-3 {
  grid-row-start: 6;
  grid-column-start: 5;
  grid-column-end: 9; }

.see-work {
  align-self: center;
  grid-row-start: 7;
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; }
  .see-work p {
    padding: 5px 30px; }

.main-grid .double-caption-1 {
  grid-row-start: 1; }

.main-grid .quote {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 11; }

.main-grid .button-position {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  margin: 0; }

.main-grid .button {
  align-self: center;
  margin: 0;
  font: 18px "wedding-gothic-atf"; }
  .main-grid .button p {
    border: solid 1px;
    background-color: #e698c0;
    font: inherit;
    padding: 5px 30px; }

.main-grid .button:hover P {
  background-color: #9ace9f; }

.testimonial-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px; }

.testimonial-sub-heading {
  font-size: 20px;
  text-align: center; }

.testimonial {
  border-collapse: collapse;
  margin: 30px 25%; }
  .testimonial .client-name {
    font: 30px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid; }
  .testimonial .company-name {
    font: 30px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid; }
  .testimonial tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
    line-height: 1.5; }
  .testimonial th {
    border: 1px solid;
    padding: 10px 20px; }
  .testimonial td {
    border: 1px solid;
    padding: 20px 40px; }

.testimonial-1 {
  background-color: #e698c0; }

.testimonial-2 {
  background-color: #9ace9f; }

.testimonial-3 {
  background-color: #80bfc2; }

.testimonial-4 {
  background-color: #f79b83; }

a {
  color: #353532;
  text-decoration: none; }

.page-intro .title {
  margin-top: 50px; }

/* main grid */
.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.self-portrait {
  margin: 0 30% 5% 30%; }
  .self-portrait img {
    width: 100%; }

.contact-rectangles {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;
  font: 50px "made_miragethin", Georgia, serif;
  z-index: 20; }
  .contact-rectangles span {
    border: solid 1px #353532;
    text-align: center;
    padding: 15px 20px; }
  .contact-rectangles div {
    margin-bottom: 40px; }
  .contact-rectangles .seperator {
    align-self: center; }
  .contact-rectangles .email-me span {
    background-color: #e698c0; }
  .contact-rectangles .email-me span:hover {
    background-color: #ebd5c4; }
  .contact-rectangles .link-me span {
    background-color: #80bfc2; }
  .contact-rectangles .link-me span:hover {
    background-color: #ebd5c4; }
  .contact-rectangles .instagram-me span {
    background-color: #f79b83; }
  .contact-rectangles .instagram-me span:hover {
    background-color: #ebd5c4; }
  .contact-rectangles .connect-me span {
    background-color: #9ace9f; }
  .contact-rectangles .connect-me span:hover {
    background-color: #ebd5c4; }

.necklace {
  position: relative;
  margin-top: -150px;
  margin-bottom: 100px;
  z-index: 10; }
  .necklace img {
    width: 100%; }

/*  original flex code from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.no-padding {
  padding-bottom: 0; }

/* FLEX */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 10%;
  padding-bottom: 100px;
  margin-top: -4.5em; }

.column {
  max-width: 40%;
  padding: 0 5%; }

.column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%; }

.column .picture-frame {
  margin-top: 100px;
  vertical-align: middle;
  width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%; }
  .play-grid {
    padding-bottom: 40px;
    margin-bottom: 0; } }

/* OUTSIDE FLEX */
.work-sub-heading {
  margin: 50px 70px 100px 70px;
  text-align: left; }

/* || PHONES */
@media only screen and (max-width: 768px) {
  /* || HOME */
  .main-grid {
    display: block; }
  /* || CONTACT */
  .self-portrait {
    margin: 0 20% 10% 20%; }
  .necklace {
    margin-top: -70px; }
  /* || PROJECT PAGES */
  .case-study {
    display: block; }
  .title {
    font-size: 90px;
    margin: 40px 20px; }
  .page-intro {
    padding-bottom: 20px; }
  .no-padding {
    padding-bottom: 0; }
  .sub-heading {
    margin: 20px 40px; }
  .project-table {
    margin: 40px 40px;
    max-width: 90%; }
    .project-table thead td {
      font-size: 14px; }
  td {
    font-size: 17px; }
  .quote {
    font-size: 50px;
    margin: 70px 40px; }
  .double-caption {
    margin: 0; }
  .caption-table {
    margin: 0 40px; }
  .numbered-caption-left {
    margin-bottom: 50px;
    margin-top: 50px; }
  .numbered-caption-right {
    margin-bottom: 70px; }
  .roundel-img {
    margin: 0;
    top: 0%;
    left: 10%; }
  .picture-frame img.roundel {
    width: 6em;
    top: -3em;
    left: -3em; }
  .thanks-back h4 {
    font-size: 40px;
    line-height: 1.1em;
    margin: 40px 40px 10px 40px; }
  .go-back {
    margin: 0 40px;
    padding-top: 30px;
    font-size: 13px;
    text-align: center; }
  figcaption {
    font-size: 14px; }
  /* NEW LAYOUT SYSTEM */
  .centre-img {
    margin: 40px; }
  .centre-img-large {
    margin: 40px; }
  .small-right-img {
    margin: 40px 40px 40px 30%; }
  .medium-right-img,
  .medium-right-img-2,
  .medium-right-img-3 {
    margin: 40px 40px 40px 30%; }
  .large-right-img {
    margin: 40px 40px 40px 30%; }
  .extra-large-right-img {
    margin: 40px 40px 40px 30%; }
  .small-left-img {
    margin: 40px 30% 40px 40px; }
  .medium-left-img,
  .medium-left-img-3 {
    margin: 40px 30% 40px 40px; }
  .medium-left-img-2 {
    margin: 40px 40px 40px 30%; }
  .large-left-img {
    margin: 40px 30% 40px 40px; }
  .top-margin {
    margin-top: 20%; }
  .photo-grid {
    margin: 40px; }
  .photo-grid-column .picture-frame {
    margin-top: 40px; }
  .roundel-img {
    margin-left: 100px;
    margin-top: 80px;
    margin-right: 40px; }
  .roundel-img-right {
    margin-right: 100px;
    margin-left: 40px; }
  /* || WORK (flex box) */
  .row,
  .photo-grid {
    /*
    margin: 10px 5%;
    margin-bottom: 10px;
    */ }
    .row .roundel,
    .row .roundel-right,
    .photo-grid .roundel,
    .photo-grid .roundel-right {
      display: none; }
    .row .roundel-img,
    .photo-grid .roundel-img {
      margin: 0 0 0 0; }
  .work-sub-heading h6 {
    font-size: 55px; }
  /* || ABOUT */
  .testimonial {
    margin: 30px 10%; }
    .testimonial .client-name,
    .testimonial .company-name {
      font-size: 25px; }
    .testimonial td {
      padding: 20px 30px; }
  /* || FOOTER */
  ul {
    margin: 0; }
  .footer ul {
    font-size: 20px;
    margin: 20px 0;
    padding: 0; }
  .footer ul a {
    padding: 10px 20px; }
  .footer .footer-roundel {
    top: -120%;
    left: 80%;
    width: 4em; } }

/* || COMPUTER */
@media only screen and (max-width: 992px) {
  /* || PROJECT PAGES */
  .quote {
    font-size: 70px; }
  .img-2 {
    grid-column-start: 2;
    grid-column-end: 7; }
  .img-3 {
    grid-column-start: 8;
    grid-column-end: 12; }
  .img-5 {
    grid-column-start: 2;
    grid-column-end: 6; }
  .img-6 {
    grid-column-start: 7;
    grid-column-end: 12; } }

/* || LARGE COMPUTER */
@media only screen and (max-width: 1200px) {
  .double-caption-1,
  .double-caption-2 {
    grid-column-start: 4;
    grid-column-end: 10; }
  .caption,
  .caption-3,
  .caption-4,
  .home-caption-1,
  .home-caption-2,
  .home-caption-3 {
    grid-column-start: 4;
    grid-column-end: 10; }
  .picture-frame img.roundel {
    width: 6em;
    top: -3em;
    left: -3em; }
  .picture-frame img.roundel-right {
    width: 6em;
    top: -3em;
    right: -3em; }
  .necklace {
    margin-top: -40px; } }
