.main-grid {
  .double-caption-1 {
    grid-row-start: 1;
  }

  .quote {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .special-caption {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 11;

  }
}

.testimonial-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonial-sub-heading {
  font-size: 20px;
  text-align: center;
}

.testimonial {
  border-collapse: collapse;
  margin: 30px 25%;

  .client-name {
    font: 35px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid;
  }

  .company-name {
    font: 35px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid;
  }

  tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  th {
    border: 1px solid;
    padding: 10px 20px;
  }

  td {
    border: 1px solid;
    padding: 20px 40px;
  }
}

.testimonial-1 {
  background-color: $main-pink;
}

.testimonial-2 {
  background-color: $main-green;
}

.testimonial-3 {
  background-color: $main-blue;
}