/* || Phones */


@media only screen and (max-width: 600px) {
  .case-study {
    display: block;
  }

  .title {
    font-size: 100px;
    margin-top: 30px;
  }

  .sub-heading {
    margin: 20px 40px;
  }

  .project-table {
    margin-top: 20px;
    max-width: 90%;
  }

  td {
    font-size: 17px;
  }

  .quote {
    font-size: 50px;
    margin: 40px;
  }

  .img {
    margin: 40px;
  }

  .double-caption {
    margin: 0;
  }

  .caption-table {
    margin: 0 40px;
  }

.roundel-img {
  margin: 50px;
  top: 0%;
  left: 10%
}

.roundel-1 {
  width: 7em;
  top: -10%;
    left: 1%;
}

.roundel-2 {
  width: 7em;
  top: -15%;
    left: -2%;
}

.thanks-back {
  h4 {
    font-size: 40px;
    line-height: 1em;
    margin: 40px;
  }
  
}

}


/* || Portrait tablets / big boy phones */


@media only screen and (min-width: 600px) {}


/* || Landscape tablets */


@media only screen and (min-width: 768px) {}


/* || Computer */


@media only screen and (min-width: 992px) {}


/* || Extra large computer */


@media only screen and (min-width: 1200px) {}