@font-face {
  font-family: 'made_miragethin';
  src: url('/fonts/made_mirage_thin-webfont.woff2') format('woff2'),
    url('/fonts/made_mirage_thin-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;

}

/* || colour variables */

$main-background-color: #ebd5c4;
$main-text-color: #353532;
$main-blue: #80bfc2;
$main-green: #9ace9f;
$main-pink: #e698c0;
$main-peach: #f79b83;
$main-off-white: #fff2eb;

body {
  color: $main-text-color;
  background-color: $main-background-color;
  margin: 0;
}

/* || LINKS */
td {
  a {
    font-weight: 600;
  }

  a:hover {
    color: $main-peach;
  }
}

/* || fonts */

p {
  font: 18px "degular", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

figcaption {
  font: 14px "degular", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

/* PAGE TITLES */ 

h1 {
  font: 120px "made_miragethin", Georgia, serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 0.9;
}

.title-more-leading {
  line-height: 1.1;
}

/* TICKER TAPE */ 

h2,
.ticker-tape {
  font: 20px "wedding-gothic-atf";
  text-transform: lowercase;
}

/* PAGE TITLE SUB-HEAD */ 

h3 {
  font: 30px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* THANKS BACK */ 

h4 {
  font: 50px "made_miragethin", Georgia, serif;
  letter-spacing: 150;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* QUOTE */ 

h5 {
  font: 100px "made_miragethin", Georgia, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.1;
}

h6 {
  font: 50px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}