a {
  color: $main-text-color;
  text-decoration: none;
}

.page-intro {
  .title {
    margin-top: 50px;
  }
}


/* main grid */

.main-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.self-portrait {
  margin: 0 30%;

  img {
    width: 100%;
  }
}


.contact-rectangles {
  display: flex;
  flex-flow: column;
  position: relative;

  font: 50px "made_miragethin",
    Georgia,
    serif;

  z-index: 10;


  p {
    border: solid 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }


  .seperator {
    align-self: center;
  }

  .email-me {
    p {
      padding: 5px 5%;
      background-color: $main-pink;
    }
  }

  .link-me {
    p {
      background-color: $main-blue;
    }
  }

  .instagram-me {
    p {
      background-color: $main-peach;
    }
  }

  .connect-me {
    p {
      background-color: $main-green;
    }
  }

  a:hover {
    p {
      background: $main-peach;
    }
  }
}

.necklace {

  img {
    width: 100%;
  }

  position: relative;
  margin-top:-200px;
  margin-bottom: 100px;
  z-index: 20;
}