a {
  color: $main-text-color;
  text-decoration: none;
}

.page-intro {
  .title {
    margin-top: 50px;
  }
}


/* main grid */

.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.self-portrait {
  margin: 0 30% 5% 30%;

  img {
    width: 100%;
  }
}


.contact-rectangles {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;

  font: 50px "made_miragethin",
    Georgia,
    serif;

  z-index: 20;


  span {
    border: solid 1px $main-text-color;
    text-align: center;
    padding: 15px 20px;
  }

  div {
    margin-bottom: 40px;
  }

  .seperator {
    align-self: center;
  }

  .email-me {
    span {
      background-color: $main-pink;
    }
    span:hover {
      background-color: $main-background-color;
    }
  }

  .link-me {
    span {
      background-color: $main-blue;
    }
    span:hover {
      background-color: $main-background-color;
    }
  }

  .instagram-me {
    span {
      background-color: $main-peach;
    }
    span:hover {
      background-color: $main-background-color;
    }
  }

  .connect-me {
    span {
      background-color: $main-green;
    }
    span:hover {
      background-color: $main-background-color;
    }
  }
}
 

.necklace {

  img {
    width: 100%;
  }

  position: relative;
  margin-top:-150px;
  margin-bottom: 100px;
  z-index: 10;
}