@import 'colours-fonts.scss';

/* text highlight */

::selection {
  background: $main-peach /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $main-peach; /* Gecko Browsers */
}

/* main colour borders */

.content {
  border-right: solid 10px $main-pink;
}

.content-menu {
  border-left: solid 10px $main-blue;
}

.content-menu.contact {
  border-left-color: $main-peach;
}

.content.contact {
  border-right-color: $main-green;
}

.content-menu.about {
  border-left-color: $main-green;
}

.content.about {
  border-right-color: $main-blue;
}

.content-menu.work {
  border-left-color: $main-pink;
}

.content.work {
  border-right-color: $main-peach;
}

.content-menu.home {
  border-left-color: $main-blue;
}

.content.home {
  border-right-color: $main-pink;
}



/* caption table */

.caption-table {
  border-collapse: collapse;

  .main-head {
    text-transform: uppercase;
    font: 25px "made_miragethin", Georgia, serif;
    letter-spacing: 1px;
    border: 1px solid;
  }

  .number-head {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf";
    border: 1px solid;
  }

  tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  td,
  th {
    border: 1px solid;
    padding: 10px 20px;
  }

}

/* captions */

.small-caption {
  p {
    border: solid 1px;
    padding: 5%;
  }
}

.special-caption {
  span {
    border: solid 1px;
    background-color: $main-pink;
    font: inherit;
    padding: 5px 30px;
    margin-bottom: 40px;
  }

  font: 15px "wedding-gothic-atf";
}


/* page intro */

.page-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px;

  h1,
  h3,
  table,
  .title-seperator {
    align-self: center;
  }
}

.title-seperator {
  border-left: 1px solid;
  height: 100px;
}

.sub-heading {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}


/* images */

.picture-frame {
  border: solid 1px;
  padding: 0.5em;
  box-sizing: border-box;
  position: relative;

  img, video {
    width: 100%;
    vertical-align: bottom; /* removes mystery gap under some images */
  }

  img.roundel, img.roundel-right {
    width: 8em;
  }
}


.portrait {
  border: solid 1px;
  padding: 0.5em;
  box-sizing: border-box;
  border-top-left-radius: 47%;
  border-top-right-radius: 47%;

  img {
    width: 100%;
  }
}




/* ROUNDELS */

/* codexworld.com/how-to/position-place-image-over-image-css/
https://flaviocopes.com/css-animations/#:~:text=An%20animation%20is%20applied%20to%20an%20element%20using%20the%20animation%20property.&text=spin%20is%20the%20name%20of,and%20to%20repeat%20it%20infinitely. */

/* Left side roundel */

.roundel {
  position: absolute;
  top: -4em;
  left: -4em;
  width: 8em;
  animation: spin 10s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Right side roundel */

.roundel-right {
  position: absolute;
  top: -4em;
  right: -4em;
  width: 8em;
  animation: spin 10s linear infinite;
}

/* Horizontal Rule */
hr {
  border: none;
  height: 1px;
  background: $main-text-color;
}

/* General seperator */

.seperator {
  border-left: 1px solid;
  height: 100px;
}


.centre {
  display: flex;
  flex-direction: column;
  div {
    align-self: center;
  }
}

