/* ticker tape */

.ticker-tape {
  white-space: nowrap;
  border-bottom: solid 1px $main-text-color;
  padding-bottom: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  margin-top: 10px;
}

/* || header */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-inline-start: 0px;

  list-style: none;
  margin: 0;
  font-family: "degular";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;

  li:last-of-type a {
    border-right: solid 1px;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    border-left: solid 1px;
    border-right: none;
    border-bottom: solid 1px;
    padding: 10px 40px 10px 40px;

  }

  .menu-home {
    a:hover {
      background: $main-blue;
    }
  }

  .menu-work {
    a:hover {
      background: $main-pink;
    }
  }

  .menu-about {
    a:hover {
      background: $main-green;
    }
  }

  .menu-contact {
    a:hover {
      background: $main-peach;
    }
  }

  a:visited {
    color: $main-text-color;
  }
}


@media all and (max-width: 600px) {
  .navigation {
    flex-flow: nowrap;
    li {
      flex: 1 auto;

      a {
        padding: 10px 0;
        text-align: center;
      }
    }
  }

  .content {
    border-left: solid 10px $main-blue;
  }
  .content-menu {
    border-left: none;
  }
}


/* footer */

.footer {
  border-top: solid 1px;

  .footer-roundel {
    position: absolute;
    top: -85%;
    left: 72%;
    width: 6em;
    animation: spin 10s linear infinite;
  }

  .contact-table {
    position: relative;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    list-style: none;
    margin: 30px;
    font-family: "degular";
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 30px;

    li:last-of-type a {
      border-right: solid 1px;
    }

    a {
      text-decoration: none;
      display: block;
      padding: 1em;
      border-left: solid 1px;
      border-right: none;
      border-bottom: solid 1px;
      border-top: solid 1px;
      padding: 10px 40px 10px 40px;
      color: $main-text-color;
    }
    .lets-talk {
      text-align: left;
    }

    .mail {
      a:hover {
        background: $main-blue;
      }
    }
  
    .instagram {
      a:hover {
        background: $main-peach;
      }
    }
  
    .linkedin {
      a:hover {
        background: $main-green;
      }
    }
  }

  .designed-by {
    p {
      border: solid 1px;
      background-color: $main-pink;
      font: inherit;
      padding: 5px 30px;
      margin-bottom: 40px;
    }

    font: 15px "wedding-gothic-atf";

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }


}