a {
  color: $main-text-color;
  text-decoration: none;
}

.page-intro {
  .title {
    margin-top: 50px;
  }
}


/* main grid */

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  grid-template-rows: auto;
}

.home-caption-1 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column-end: 9;
}


.home-img-1 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 6;
}


.home-img-2 {
  grid-row-start: 2;
  grid-column-start: 7;
  grid-column-end: 12;
  position: relative;
  margin-top: 20%;
}

.home-caption-2 {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-column-end: 9;
}

.home-img-3 {
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 12;
  position: relative;
}

.home-img-4 {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 7;
  position: relative;
  margin-top: 20%;
}

.home-img-5 {
  grid-row-start: 5;
  grid-column-start: 7;
  grid-column-end: 12;
  margin-top: 30%;
}

.home-img-6 {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 6;
}

.home-caption-3 {
  grid-row-start: 6;
  grid-column-start: 5;
  grid-column-end: 9;
}



.see-work {
  align-self: center;
  p {
    padding: 5px 30px;
  }
  grid-row-start: 7;
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
