
a {
  color: $main-text-color;
  text-decoration: none;
}

.page-intro {
  .title {
    margin-top: 50px;
  }
}

/* project table */

.project-table {
  max-width: 80%;
  border-collapse: collapse;

  thead {
    text-transform: uppercase;
    font: 14px "wedding-gothic-atf";
  }

  tbody {
    font: 18px "degular", Helvetica, Arial, sans-serif;
  }

  td {
    border: 1px solid;
    padding: 10px 20px;
    padding: 10px;
  }
}

/* || case-study */

.case-study {
  background-color: $main-off-white;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 1px;
}

.go-back {
  p {
    border: solid 1px;
    background-color: $main-peach;
    font: inherit;
    padding: 5px;
  }

  font: 18px "wedding-gothic-atf";
}

.go-back:hover {
  P {
    background-color: $main-green;
  }
}


/* case study grid */

.case-study {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  grid-template-rows: auto;
}


.img-1 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 10;
}

.img-1-large {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 11;
}

.double-caption-1 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 9;
}

.seperator-1 {
  border-left: 1px solid;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.quote-1 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 11;
}

.img-2 {
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 7;
  position: relative;
}

.img-3 {
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 11;
  margin-top: 400px;
}

.caption-3 {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-column-end: 9;
}


.img-4 {
  grid-row-start: 6;
  grid-column-start: 4;
  grid-column-end: 10;
  position: relative;
}

.double-caption-2 {
  grid-row-start: 7;
  grid-column-start: 5;
  grid-column-end: 9;
}

.img-5 {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 5;
}

.img-6 {
  grid-row-start: 8;
  grid-column-start: 6;
  grid-column-end: 11;
  margin-top: 200px;
}

.caption-4 {
  grid-row-start: 9;
  grid-column-start: 5;
  grid-column-end: 9;
}

.thanks-back {
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
}

.go-back {
  align-self: center;
  p {
    padding: 5px 30px;
  }
}




/* || ROWS */ 

.row-1 {
  grid-row-start: 1;
}

.row-2 {
  grid-row-start: 2;
}

.row-3 {
  grid-row-start: 3;
}

.row-4 {
  grid-row-start: 4;
}

.row-5 {
  grid-row-start: 5;
}

.row-6 {
  grid-row-start: 6;
}

.row-7 {
  grid-row-start: 7;
}

.row-8 {
  grid-row-start: 8;
}

.row-9 {
  grid-row-start: 9;
}

.row-10 {
  grid-row-start: 10;
}


/* || CONTENT TYPES */ 

/* images */

.centre-img {
  grid-column-start: 4;
  grid-column-end: 10;
}

.centre-img-large {
  grid-column-start: 3;
  grid-column-end: 11;
}

.centre-img-extra-large {
  grid-column-start: 2;
  grid-column-end: 12;
}

.small-right-img {
  grid-column-start: 8;
  grid-column-end: 11;
}

.medium-right-img {
  grid-column-start: 6;
  grid-column-end: 10;
}

.medium-right-img-2 {
  grid-column-start: 7;
  grid-column-end: 11;
}

.medium-right-img-3 {
  grid-column-start: 8;
  grid-column-end: 12;
}

.large-right-img {
  grid-column-start: 7;
  grid-column-end: 12;
}

.extra-large-right-img {
  grid-column-start: 6;
  grid-column-end: 12;
}

.small-left-img {
  grid-column-start: 2;
  grid-column-end: 5;
}

.medium-left-img {
  grid-column-start: 3;
  grid-column-end: 7;
}

.medium-left-img-2 {
  grid-column-start: 2;
  grid-column-end: 6;
}

.large-left-img {
  grid-column-start: 2;
  grid-column-end: 7;
}

.top-margin {
  margin-top: 20%;
}

.top-margin-large {
  margin-top: 40%;
}

.bottom-margin {
  margin-bottom: 100px;
}



/* text */

.caption {
  grid-column-start: 5;
  grid-column-end: 9;
}

.quote {
  grid-column-start: 3;
  grid-column-end: 11;
}

.numbered-caption-left {
  grid-column-start: 2;
  grid-column-end: 6;
}

.numbered-caption-right {
  grid-column-start: 8;
  grid-column-end: 12;
}



/* photo grid */ 

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-column {
  max-width: 46%;
  padding: 0 2%;
}

.photo-grid-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-column {
    flex: 100%;
    max-width: 100%;
  }
}

/* photo grid */ 

.photo-grid-4-col {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-4-col-column {
  max-width: 21%;
  padding: 0 2%;

    .picture-frame {
      border: none;
    }

}

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-4-col-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column {
    flex: 100%;
    max-width: 100%;
  }
}


/* photo grid */ 

.photo-grid-4-col-borders {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-4-col-column-borders {
  max-width: 21%;
  padding: 0 2%;


}

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-4-col-column-borders .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column-borders {
    flex: 100%;
    max-width: 100%;
  }
}


