@font-face {
  font-family: 'made_miragethin';
  src: url("/fonts/made_mirage_thin-webfont.woff2") format("woff2"), url("/fonts/made_mirage_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* || colour variables */
body {
  color: #353532;
  background-color: #ebd5c4;
  margin: 0;
}

/* || LINKS */
td a {
  font-weight: 600;
}

td a:hover {
  color: #f79b83;
}

/* || fonts */
p {
  font: 18px "degular", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

figcaption {
  font: 14px "degular", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

/* PAGE TITLES */
h1 {
  font: 120px "made_miragethin", Georgia, serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 0.9;
}

.title-more-leading {
  line-height: 1.1;
}

/* TICKER TAPE */
h2,
.ticker-tape {
  font: 17px "wedding-gothic-atf";
  text-transform: lowercase;
}

/* PAGE TITLE SUB-HEAD */
h3 {
  font: 30px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* THANKS BACK */
h4 {
  font: 50px "made_miragethin", Georgia, serif;
  letter-spacing: 150;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* QUOTE */
h5 {
  font: 100px "made_miragethin", Georgia, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.1;
}

h6 {
  font: 50px "made_miragethin", Georgia, serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

a {
  color: #353532;
  text-decoration: none;
}

.page-intro .title {
  margin-top: 50px;
}

/* project table */
.project-table {
  max-width: 80%;
  border-collapse: collapse;
}

.project-table thead {
  text-transform: uppercase;
  font: 14px "wedding-gothic-atf";
}

.project-table tbody {
  font: 18px "degular", Helvetica, Arial, sans-serif;
}

.project-table td {
  border: 1px solid;
  padding: 10px 20px;
  padding: 10px;
}

/* || case-study */
.case-study {
  background-color: #fff2eb;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 1px;
}

.go-back {
  font: 18px "wedding-gothic-atf";
}

.go-back p {
  border: solid 1px;
  background-color: #f79b83;
  font: inherit;
  padding: 5px;
}

.go-back:hover P {
  background-color: #9ace9f;
}

/* case study grid */
.case-study {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5em 1em;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.img-1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
}

.img-1-large {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.double-caption-1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.seperator-1 {
  border-left: 1px solid;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-1 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.img-2 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  position: relative;
}

.img-3 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
  margin-top: 400px;
}

.caption-3 {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.img-4 {
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
  position: relative;
}

.double-caption-2 {
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.img-5 {
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.img-6 {
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 11;
  margin-top: 200px;
}

.caption-4 {
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.thanks-back {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.go-back {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.go-back p {
  padding: 5px 30px;
}

/* || VIEW LIVE */
.view-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
  font: 10px "made_miragethin", Georgia, serif;
}

.view-live span {
  border: solid 1px #353532;
  text-align: center;
  padding: 15px 20px;
}

.view-live .view-live-button, .view-live .github-button {
  font: 10px "made_miragethin", Georgia, serif;
}

.view-live .view-live-button span, .view-live .github-button span {
  background-color: #e698c0;
}

.view-live .view-live-button span:hover, .view-live .github-button span:hover {
  background-color: #f79b83;
}

/* || ROWS */
.row-1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.row-2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.row-3 {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.row-4 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.row-5 {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.row-6 {
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.row-7 {
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.row-8 {
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.row-9 {
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.row-10 {
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.row-11 {
  -ms-grid-row: 11;
      grid-row-start: 11;
}

.row-12 {
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.row-13 {
  -ms-grid-row: 13;
      grid-row-start: 13;
}

.row-14 {
  -ms-grid-row: 14;
      grid-row-start: 14;
}

.row-15 {
  -ms-grid-row: 15;
      grid-row-start: 15;
}

/* || CONTENT TYPES */
/* images */
.centre-img {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
}

.centre-img-large {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.centre-img-extra-large {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
}

.small-right-img {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
}

.small-right-img-2 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 12;
}

.medium-right-img {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
}

.medium-right-img-2 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
}

.medium-right-img-3 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
}

.large-right-img {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
}

.extra-large-right-img {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 12;
}

.small-left-img {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.medium-left-img {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
}

.medium-left-img-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
}

.large-left-img {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
}

.extra-large-left-img {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 8;
}

.top-margin {
  margin-top: 20%;
}

.top-margin-large {
  margin-top: 40%;
}

.bottom-margin {
  margin-bottom: 100px;
}

/* text */
.caption {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.quote {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.numbered-caption-left {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
}

.numbered-caption-right {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
}

/* photo grid */
.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-column {
  max-width: 46%;
  padding: 0 2%;
}

.photo-grid-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* photo grid */
.photo-grid-4-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-4-col-column {
  max-width: 21%;
  padding: 0 2%;
}

.photo-grid-4-col-column .picture-frame {
  border: none;
}

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-4-col-column .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* photo grid */
.photo-grid-4-col-borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
  padding: 0;
  margin: 0 10%;
}

.photo-grid-4-col-column-borders {
  max-width: 21%;
  padding: 0 2%;
}

.photo-grid-4-col-column img {
  margin: 0px;
  vertical-align: middle;
  width: 100%;
}

.photo-grid-4-col-column-borders .picture-frame {
  margin-top: 10%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-4-col-column-borders {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=project-page.css.map */